Repository nickromney/public-cloud-experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, check-emojis

biome-check:
  name: Biome lint and format
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run type-check'
  language: system
  pass_filenames: false

check-emojis:
  name: Check for emojis in markdown
  entry: .git-hooks/check-emojis.sh
  language: script

fix: Replace createdTime with lastModifiedTimeUtc in all deployment scripts
  subnet-calculator/infrastructure/azure/azure-stack-01-public-simple.sh
  subnet-calculator/infrastructure/azure/azure-stack-02-flask-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/azure-stack-04-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-05-swa-typescript-entraid-frontend.sh
  subnet-calculator/infrastructure/azure/azure-stack-05-swa-typescript-entraid-old.sh
  subnet-calculator/infrastructure/azure/azure-stack-06-swa-typescript-entraid-linked.sh
  subnet-calculator/infrastructure/azure/azure-stack-07-swa-typescript-entraid-double.sh
  subnet-calculator/infrastructure/azure/azure-stack-08-flask-appservice.sh
  subnet-calculator/infrastructure/azure/azure-stack-08-swa-typescript-network-secured.sh
  subnet-calculator/infrastructure/azure/azure-stack-10-swa-typescript-jwt.sh
Due: none

fix: Correct JMESPath query for defaultHostName in all deployment scripts
  subnet-calculator/infrastructure/azure/10-function-app.sh
  subnet-calculator/infrastructure/azure/13-create-function-app-on-app-service-plan.sh
  subnet-calculator/infrastructure/azure/14-configure-function-vnet-integration.sh
  subnet-calculator/infrastructure/azure/21-deploy-function.sh
  subnet-calculator/infrastructure/azure/22-deploy-function-zip.sh
  subnet-calculator/infrastructure/azure/23-deploy-function-apim.sh
  subnet-calculator/infrastructure/azure/25-deploy-static-website-storage.sh
  subnet-calculator/infrastructure/azure/31-apim-backend.sh
  subnet-calculator/infrastructure/azure/40-link-backend-to-swa.sh
  subnet-calculator/infrastructure/azure/45-configure-ip-restrictions.sh
  subnet-calculator/infrastructure/azure/50-deploy-flask-app-service.sh
  subnet-calculator/infrastructure/azure/azure-stack-01-public-simple.sh
  subnet-calculator/infrastructure/azure/azure-stack-02-flask-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/azure-stack-04-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-05-swa-typescript-entraid-frontend.sh
  subnet-calculator/infrastructure/azure/azure-stack-05-swa-typescript-entraid-old.sh
  subnet-calculator/infrastructure/azure/azure-stack-06-swa-typescript-entraid-linked.sh
  subnet-calculator/infrastructure/azure/azure-stack-07-swa-typescript-entraid-double.sh
  subnet-calculator/infrastructure/azure/azure-stack-08-flask-appservice.sh
  subnet-calculator/infrastructure/azure/azure-stack-08-swa-typescript-network-secured.sh
  subnet-calculator/infrastructure/azure/azure-stack-10-swa-typescript-jwt.sh
Due: none

feat: Add region mapping utility for Static Web Apps compatibility
  subnet-calculator/infrastructure/azure/azure-stack-06-swa-typescript-entraid-linked.sh
  subnet-calculator/infrastructure/azure/lib/map-swa-region.sh
Due: none

docs: Add environment variable setup for Bash and Nushell
  CLAUDE.md
Due: check-emojis

fix: Apply region mapping to backend link script and remove invalid --region parameter
  subnet-calculator/infrastructure/azure/40-link-backend-to-swa.sh
Due: none

refactor: Renumber custom domain script from 40- to 41- for correct deployment order
  subnet-calculator/infrastructure/azure/41-configure-custom-domain-swa.sh
Due: none

chore: docs
  .claude/settings.local.json
  .gitignore
  subnet-calculator/infrastructure/azure/.env.example
  subnet-calculator/infrastructure/azure/SETUP.md
Due: check-emojis

fix: Handle unbound VITE_API_URL variable and clean build cache
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
Due: none

chore: update link to backend
  subnet-calculator/infrastructure/azure/40-link-backend-to-swa.sh
Due: none

docs: Add Entra ID implementation plan for SWA-04
  subnet-calculator/docs/ENTRAID-IMPLEMENTATION-PLAN.md
Due: check-emojis

chore: update bats git submodule
  cloud-networking/azure/tests/test_helper/bats-support/.github/dependabot.yml
  cloud-networking/azure/tests/test_helper/bats-support/.github/workflows/sync-default-branch.yml
  cloud-networking/azure/tests/test_helper/bats-support/.github/workflows/test.yml
  cloud-networking/azure/tests/test_helper/bats-support/.gitignore
  cloud-networking/azure/tests/test_helper/bats-support/CHANGELOG.md
  cloud-networking/azure/tests/test_helper/bats-support/LICENSE
  cloud-networking/azure/tests/test_helper/bats-support/README.md
  cloud-networking/azure/tests/test_helper/bats-support/load.bash
  cloud-networking/azure/tests/test_helper/bats-support/package.json
  cloud-networking/azure/tests/test_helper/bats-support/src/error.bash
  cloud-networking/azure/tests/test_helper/bats-support/src/lang.bash
  cloud-networking/azure/tests/test_helper/bats-support/src/output.bash
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-10-batslib_err.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-11-batslib_count_lines.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-12-batslib_is_single_line.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-13-batslib_get_max_single_line_key_width.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-14-batslib_print_kv_single.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-15-batslib_print_kv_multi.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-16-batslib_print_kv_single_or_multi.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-17-batslib_prefix.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-18-batslib_mark.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/50-output-19-batslib_decorate.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/51-error-10-fail.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/52-lang-10-batslib_is_caller.bats
  cloud-networking/azure/tests/test_helper/bats-support/test/cat
  cloud-networking/azure/tests/test_helper/bats-support/test/test_helper.bash
Due: check-emojis

fix: GitHub Actions npm cache path and remove unused submodule checkout
  .github/workflows/swa-byo-functions.yml
  .github/workflows/swa-managed-functions.yml
Due: none

feat: Add script to configure Entra ID authentication on Azure Static Web App
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
Due: none

fix: Improve Entra ID config script for non-interactive and default-Y modes
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
Due: none

feat: Display VITE_AUTH_ENABLED in frontend deployment configuration output
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
Due: none

fix: Clarify deployment sequence - Phase 1 then Phase 2
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
Due: none

fix: Use correct Azure CLI commands for SWA authentication configuration
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
Due: none

fix: Properly handle special characters in Entra ID credentials
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
Due: none

fix: Copy appropriate staticwebapp.config.json based on authentication mode
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
Due: none

fix: Add error handling and logging for staticwebapp.config.json copy
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
Due: none

debug: Add comprehensive logging for staticwebapp.config.json copy operation
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
Due: none

fix: Add missing log_step function to deploy script
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
Due: none

test: Implement comprehensive BATS testing framework for deployment scripts
  .github/workflows/subnet-calculator-infra-tests.yml
  subnet-calculator/infrastructure/azure/Makefile
  subnet-calculator/infrastructure/azure/tests/bin/az
  subnet-calculator/infrastructure/azure/tests/bin/npm
  subnet-calculator/infrastructure/azure/tests/bin/swa
  subnet-calculator/infrastructure/azure/tests/fixtures/account-show.json
  subnet-calculator/infrastructure/azure/tests/fixtures/appsettings-list.json
  subnet-calculator/infrastructure/azure/tests/fixtures/functionapp-list.json
  subnet-calculator/infrastructure/azure/tests/fixtures/functionapp-show.json
  subnet-calculator/infrastructure/azure/tests/fixtures/group-show.json
  subnet-calculator/infrastructure/azure/tests/fixtures/staticwebapp-list.json
  subnet-calculator/infrastructure/azure/tests/fixtures/staticwebapp-secrets.json
  subnet-calculator/infrastructure/azure/tests/fixtures/staticwebapp-show.json
  subnet-calculator/infrastructure/azure/tests/helpers.bash
  subnet-calculator/infrastructure/azure/tests/mocks.bash
  subnet-calculator/infrastructure/azure/tests/setup.bash
  subnet-calculator/infrastructure/azure/tests/teardown.bash
  subnet-calculator/infrastructure/azure/tests/test_config_copying.bats
  subnet-calculator/infrastructure/azure/tests/test_credential_handling.bats
  subnet-calculator/infrastructure/azure/tests/test_helper/bats-assert
  subnet-calculator/infrastructure/azure/tests/test_helper/bats-support
  subnet-calculator/infrastructure/azure/tests/test_utilities.bats
  subnet-calculator/infrastructure/azure/tests/test_validation.bats
Due: none

fix: Correct Makefile help output formatting
  subnet-calculator/infrastructure/azure/Makefile
Due: none

test: Expand deployment script test coverage from 120 to 212 tests
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
  subnet-calculator/infrastructure/azure/tests/test_apim.bats
  subnet-calculator/infrastructure/azure/tests/test_backend_linking.bats
  subnet-calculator/infrastructure/azure/tests/test_config_copying.bats
  subnet-calculator/infrastructure/azure/tests/test_deployment.bats
Due: none

fix: Make Entra ID configuration tenant-specific with AZURE_TENANT_ID
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
  subnet-calculator/infrastructure/azure/staticwebapp-entraid.config.json
Due: none

fix: Update Entra ID placeholder to use AZURE_TENANT_ID consistently
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/staticwebapp-entraid.config.json
Due: none

fix: Use secure OAuth2 code flow for Entra ID authentication
  subnet-calculator/infrastructure/azure/staticwebapp-entraid.config.json
  subnet-calculator/infrastructure/azure/tests/test_config_copying.bats
  subnet-calculator/infrastructure/azure/tests/test_credential_handling.bats
Due: none

docs: Add comprehensive Entra ID setup guide with markdown formatting fixes
  subnet-calculator/docs/ENTRAID-SETUP-GUIDE.md
  subnet-calculator/docs/README-SWA-CONFIG.md
  subnet-calculator/docs/SWA-AUTHENTICATION-ARCHITECTURES.md
Due: check-emojis

feat: Add 64-verify-entraid-setup.sh diagnostic script for Entra ID authentication
  subnet-calculator/infrastructure/azure/64-verify-entraid-setup.sh
Due: none

chore: 4.1 opus auth suggestions
  .claude/settings.local.json
  subnet-calculator/frontend-python-flask/.env.example
  subnet-calculator/frontend-python-flask/.gitignore
  subnet-calculator/frontend-python-flask/ENTRAID.md
  subnet-calculator/frontend-python-flask/ENV-SETUP.md
  subnet-calculator/frontend-python-flask/IMPLEMENTATION-SUMMARY.md
  subnet-calculator/frontend-python-flask/README-ENTRAID.md
  subnet-calculator/frontend-python-flask/SETUP-CHECKLIST.md
  subnet-calculator/frontend-python-flask/app.py
  subnet-calculator/frontend-python-flask/auth.py
  subnet-calculator/frontend-python-flask/pyproject.toml
  subnet-calculator/frontend-python-flask/templates/index.html
  subnet-calculator/frontend-python-flask/uv.lock
  subnet-calculator/frontend-typescript-vite/index.html
  subnet-calculator/frontend-typescript-vite/src/config.ts
  subnet-calculator/frontend-typescript-vite/src/entraid-auth.ts
  subnet-calculator/frontend-typescript-vite/src/main.ts
  subnet-calculator/frontend-typescript-vite/src/style.css
  subnet-calculator/frontend-typescript-vite/src/ui.ts
  subnet-calculator/infrastructure/azure/60-ENTRAID-README.md
  subnet-calculator/infrastructure/azure/60-entraid-user-setup.sh
  subnet-calculator/infrastructure/azure/61-entraid-debug.sh
  subnet-calculator/infrastructure/azure/64-verify-entraid-setup.sh
  subnet-calculator/infrastructure/azure/azure-stack-13-flask-entraid.sh
  subnet-calculator/infrastructure/azure/staticwebapp-entraid.config.json
Due: biome-check, typescript-check, check-emojis

chore: update with fixes
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
  subnet-calculator/infrastructure/azure/64-verify-entraid-setup.sh
  subnet-calculator/infrastructure/azure/staticwebapp-entraid.config.json
Due: none

chore: working with built in config
  .gitignore
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
  subnet-calculator/infrastructure/azure/65-assign-user-to-app.sh
  subnet-calculator/infrastructure/azure/staticwebapp-entraid-builtin.config.json
  subnet-calculator/infrastructure/azure/test-swa-auth.sh
Due: none

fix: Implement working logout flow with dedicated logged-out page
  subnet-calculator/frontend-typescript-vite/public/logged-out.html
  subnet-calculator/frontend-typescript-vite/src/style.css
  subnet-calculator/frontend-typescript-vite/src/ui.ts
  subnet-calculator/infrastructure/azure/staticwebapp-entraid-builtin.config.json
Due: biome-check, typescript-check

test: Add comprehensive Playwright tests for Entra ID logout flow
  subnet-calculator/frontend-typescript-vite/package.json
  subnet-calculator/frontend-typescript-vite/tests/AUTH-TESTING.md
  subnet-calculator/frontend-typescript-vite/tests/auth-logout.spec.ts
Due: biome-check, typescript-check, check-emojis

fix: Replace any types with proper TypeScript interfaces in auth tests
  subnet-calculator/frontend-typescript-vite/tests/auth-logout.spec.ts
Due: biome-check, typescript-check

test: Fix auth logout tests to handle local dev environment
  subnet-calculator/frontend-typescript-vite/tests/AUTH-TESTING.md
  subnet-calculator/frontend-typescript-vite/tests/auth-logout.spec.ts
Due: biome-check, typescript-check, check-emojis

Path conditions:
  biome-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx)$
  check-emojis: any of: \.(md|markdown)$
