Repository nickromney/public-cloud-experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, check-emojis

biome-check:
  name: Biome lint and format
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run type-check'
  language: system
  pass_filenames: false

check-emojis:
  name: Check for emojis in markdown
  entry: .git-hooks/check-emojis.sh
  language: script

feat: Add React Web App with JWT authentication and runtime config (#35)
  .claude/settings.local.json
  subnet-calculator/compose.yml
  subnet-calculator/frontend-react/Dockerfile
  subnet-calculator/frontend-react/Dockerfile.server
  subnet-calculator/frontend-react/server.js
  subnet-calculator/frontend-react/src/api/client.ts
  subnet-calculator/frontend-react/src/auth/AuthContext.tsx
  subnet-calculator/frontend-react/src/auth/jwtAuthProvider.tsx
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
  subnet-calculator/frontend-react/src/config.ts
  subnet-calculator/frontend-react/src/main.tsx
  subnet-calculator/frontend-react/src/types.ts
  subnet-calculator/frontend-typescript-vite/src/auth.ts
  subnet-calculator/shared-frontend/package.json
  subnet-calculator/shared-frontend/src/auth/index.ts
  subnet-calculator/shared-frontend/src/auth/jwt.test.ts
  subnet-calculator/shared-frontend/src/auth/jwt.ts
  subnet-calculator/shared-frontend/src/index.ts
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/build-deployment-zip.sh
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
Due: biome-check, typescript-check

feat: Add Application Insights and fix Function App deployment
  subnet-calculator/docs/2025-10-30-keyvault-app-registration-secrets-design.md
  subnet-calculator/docs/COMPLETION_REPORT.md
  subnet-calculator/docs/SWA-AUTHENTICATION-ARCHITECTURES.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/APPLICATION-INSIGHTS-QUERIES.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/FUNCTION-APP-COMPARISON.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/PASSWORD-HASH-ESCAPING.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/build-function-zip.sh
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
Due: check-emojis

fix: Add security warnings and improve deployment script robustness
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/build-function-zip.sh
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terraform.tfvars.example
Due: none

feat: Add Application Insights and fix Function App deployment (#36)
  subnet-calculator/docs/2025-10-30-keyvault-app-registration-secrets-design.md
  subnet-calculator/docs/COMPLETION_REPORT.md
  subnet-calculator/docs/SWA-AUTHENTICATION-ARCHITECTURES.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/APPLICATION-INSIGHTS-QUERIES.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/FUNCTION-APP-COMPARISON.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/PASSWORD-HASH-ESCAPING.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/build-function-zip.sh
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
Due: check-emojis

feat: Add Azure API Management stack with subscription-based auth
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/build-function-zip.sh
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/policies/inbound-none.xml
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/policies/inbound-subscription.xml
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/variables.tf
Due: check-emojis

refactor: Consolidate deployment scripts and create shared APIM module
  terraform/terragrunt/Makefile
  terraform/terragrunt/deployment-scripts/README.md
  terraform/terragrunt/deployment-scripts/build-deployment-zip.sh
  terraform/terragrunt/deployment-scripts/build-function-zip.sh
  terraform/terragrunt/modules/azure-apim/README.md
  terraform/terragrunt/modules/azure-apim/main.tf
  terraform/terragrunt/modules/azure-apim/outputs.tf
  terraform/terragrunt/modules/azure-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/build-function-zip.sh
Due: check-emojis

refactor: Update subnet-calc-internal-apim to use shared APIM module
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/outputs.tf
Due: none

refactor: Consolidate Makefiles with hierarchical command structure
  terraform/terragrunt/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/Makefile
Due: none

feat: Add comprehensive BATS test suite for Makefile with 100% coverage
  .claude/settings.local.json
  .gitmodules
  terraform/terragrunt/Makefile
  terraform/terragrunt/tests/README.md
  terraform/terragrunt/tests/bin/az
  terraform/terragrunt/tests/bin/terragrunt
  terraform/terragrunt/tests/helpers.bash
  terraform/terragrunt/tests/mock-deployment-scripts/build-deployment-zip.sh
  terraform/terragrunt/tests/mock-deployment-scripts/build-function-zip.sh
  terraform/terragrunt/tests/mocks.bash
  terraform/terragrunt/tests/setup.bash
  terraform/terragrunt/tests/teardown.bash
  terraform/terragrunt/tests/test_command_routing.bats
  terraform/terragrunt/tests/test_deployment_commands.bats
  terraform/terragrunt/tests/test_error_handling.bats
  terraform/terragrunt/tests/test_infrastructure_lifecycle.bats
Due: check-emojis

feat: Terragrunt Makefile consolidation with comprehensive test suite (#37)
  .claude/settings.local.json
  .gitmodules
  terraform/terragrunt/Makefile
  terraform/terragrunt/deployment-scripts/README.md
  terraform/terragrunt/deployment-scripts/build-deployment-zip.sh
  terraform/terragrunt/deployment-scripts/build-function-zip.sh
  terraform/terragrunt/modules/azure-apim/README.md
  terraform/terragrunt/modules/azure-apim/main.tf
  terraform/terragrunt/modules/azure-apim/outputs.tf
  terraform/terragrunt/modules/azure-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/policies/inbound-none.xml
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/policies/inbound-subscription.xml
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/Makefile
  terraform/terragrunt/tests/README.md
  terraform/terragrunt/tests/bin/az
  terraform/terragrunt/tests/bin/terragrunt
  terraform/terragrunt/tests/helpers.bash
  terraform/terragrunt/tests/mock-deployment-scripts/build-deployment-zip.sh
  terraform/terragrunt/tests/mock-deployment-scripts/build-function-zip.sh
  terraform/terragrunt/tests/mocks.bash
  terraform/terragrunt/tests/setup.bash
  terraform/terragrunt/tests/teardown.bash
  terraform/terragrunt/tests/test_command_routing.bats
  terraform/terragrunt/tests/test_deployment_commands.bats
  terraform/terragrunt/tests/test_error_handling.bats
  terraform/terragrunt/tests/test_infrastructure_lifecycle.bats
Due: check-emojis

refactor: Replace count with for_each pattern across all stacks
  .claude/settings.local.json
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-apim/main.tf
  terraform/terragrunt/modules/azure-entra-id-app/README.md
  terraform/terragrunt/modules/azure-entra-id-app/main.tf
  terraform/terragrunt/modules/azure-entra-id-app/outputs.tf
  terraform/terragrunt/modules/azure-entra-id-app/variables.tf
  terraform/terragrunt/modules/azure-key-vault/README.md
  terraform/terragrunt/modules/azure-key-vault/main.tf
  terraform/terragrunt/modules/azure-key-vault/outputs.tf
  terraform/terragrunt/modules/azure-key-vault/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/README.md
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/variables.tf
Due: check-emojis

refactor: Modernize try() usage with nullable defaults and coalesce
  terraform/terragrunt/modules/azure-entra-id-app/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
Due: none

feat: Add comprehensive validation blocks to all stack variables
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/variables.tf
Due: none

feat: Add preconditions and postconditions to critical resources
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/main.tf
Due: none

fix: Remove invalid lifecycle block from Key Vault module call
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/main.tf
Due: none

feat: Add make lint and make test targets with comprehensive Terraform tests
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-key-vault/key-vault.tftest.hcl
  terraform/terragrunt/modules/azure-key-vault/tests/fixtures/main.tf
  terraform/terragrunt/modules/azure-key-vault/tests/fixtures/outputs.tf
  terraform/terragrunt/modules/cloudflare-site/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/react-webapp.tftest.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/tests/fixtures/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/tests/fixtures/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/shared-components.tftest.hcl
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/tests/fixtures/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/tests/fixtures/outputs.tf
Due: none

test: Add comprehensive OpenTofu test framework with 38 passing tests
  .gitleaks.toml
  terraform/terragrunt/.gitignore
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-key-vault/key-vault.tftest.hcl
  terraform/terragrunt/modules/azure-key-vault/main.tf
  terraform/terragrunt/modules/azure-key-vault/tests/fixtures/main.tf
  terraform/terragrunt/modules/azure-key-vault/tests/fixtures/outputs.tf
  terraform/terragrunt/modules/azure-key-vault/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/react-webapp.tftest.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/tests/fixtures/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/tests/fixtures/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/shared-components.tftest.hcl
Due: none

refactor: Remove unnecessary try() calls and fix tenant_id consistency
  terraform/terragrunt/modules/azure-key-vault/main.tf
Due: none

test: Add comprehensive OpenTofu test framework with BATS and Terraform tests (#38)
  .claude/settings.local.json
  .gitleaks.toml
  terraform/terragrunt/.gitignore
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-apim/main.tf
  terraform/terragrunt/modules/azure-entra-id-app/README.md
  terraform/terragrunt/modules/azure-entra-id-app/main.tf
  terraform/terragrunt/modules/azure-entra-id-app/outputs.tf
  terraform/terragrunt/modules/azure-entra-id-app/variables.tf
  terraform/terragrunt/modules/azure-key-vault/README.md
  terraform/terragrunt/modules/azure-key-vault/key-vault.tftest.hcl
  terraform/terragrunt/modules/azure-key-vault/main.tf
  terraform/terragrunt/modules/azure-key-vault/outputs.tf
  terraform/terragrunt/modules/azure-key-vault/variables.tf
  terraform/terragrunt/modules/cloudflare-site/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/react-webapp.tftest.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/README.md
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/shared-components.tftest.hcl
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/tests/fixtures/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/tests/fixtures/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/variables.tf
Due: check-emojis

feat: Add Easy Auth support with managed identity for React Web App stack
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-function-app/README.md
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-function-app/outputs.tf
  terraform/terragrunt/modules/azure-function-app/variables.tf
  terraform/terragrunt/modules/azure-web-app/README.md
  terraform/terragrunt/modules/azure-web-app/main.tf
  terraform/terragrunt/modules/azure-web-app/outputs.tf
  terraform/terragrunt/modules/azure-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/APPLICATION-INSIGHTS-QUERIES.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/FUNCTION-APP-COMPARISON.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/PASSWORD-HASH-ESCAPING.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/react-webapp.tftest.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/variables.tf
  terraform/terragrunt/root.hcl
Due: check-emojis

fix: Address Copilot code review concerns for Easy Auth stack
  terraform/terragrunt/modules/azure-web-app/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/react-webapp.tftest.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/terraform.tfvars.example
Due: none

feat: Add Easy Auth support with managed identity for React Web App stack (#39)
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-function-app/README.md
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-function-app/outputs.tf
  terraform/terragrunt/modules/azure-function-app/variables.tf
  terraform/terragrunt/modules/azure-web-app/README.md
  terraform/terragrunt/modules/azure-web-app/main.tf
  terraform/terragrunt/modules/azure-web-app/outputs.tf
  terraform/terragrunt/modules/azure-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/APPLICATION-INSIGHTS-QUERIES.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/FUNCTION-APP-COMPARISON.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/PASSWORD-HASH-ESCAPING.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/react-webapp.tftest.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/variables.tf
  terraform/terragrunt/root.hcl
Due: check-emojis

feat: Add secure-app workload with dedicated Makefile targets
  terraform/terragrunt/Makefile
  terraform/terragrunt/README.md
  workloads/secure-app/envs/dev/uksouth/terragrunt.hcl
Due: check-emojis

fix: Resolve App Insights drift, deployment paths, and Azure build config
  terraform/terragrunt/Makefile
  terraform/terragrunt/deployment-scripts/build-deployment-zip.sh
  terraform/terragrunt/deployment-scripts/build-function-zip.sh
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-web-app/main.tf
  terraform/terragrunt/modules/azure-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
Due: none

fix: Address Copilot review feedback
  terraform/terragrunt/Makefile
  terraform/terragrunt/README.md
Due: check-emojis

fix: Resolve App Insights drift, deployment paths, and Azure build config (#40)
  terraform/terragrunt/Makefile
  terraform/terragrunt/README.md
  terraform/terragrunt/deployment-scripts/build-deployment-zip.sh
  terraform/terragrunt/deployment-scripts/build-function-zip.sh
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-web-app/main.tf
  terraform/terragrunt/modules/azure-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
  workloads/secure-app/envs/dev/uksouth/terragrunt.hcl
Due: check-emojis

feat: Add Easy Auth E2E stack with SPA-compatible configuration
  .claude/settings.local.json
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-function-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/APPLICATION-INSIGHTS-QUERIES.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/FUNCTION-APP-COMPARISON.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/PASSWORD-HASH-ESCAPING.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/variables.tf
Due: check-emojis

fix: Update Function App deployment to copy complete application structure
  terraform/terragrunt/deployment-scripts/build-function-zip.sh
Due: none

fix: Address Copilot code review feedback for e2e stack
  terraform/terragrunt/deployment-scripts/build-function-zip.sh
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/FUNCTION-APP-COMPARISON.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/variables.tf
Due: check-emojis

fix: Update Function App deployment to copy complete application structure (#41)
  .claude/settings.local.json
  terraform/terragrunt/Makefile
  terraform/terragrunt/deployment-scripts/build-function-zip.sh
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-function-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/APPLICATION-INSIGHTS-QUERIES.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/FUNCTION-APP-COMPARISON.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/PASSWORD-HASH-ESCAPING.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/variables.tf
Due: check-emojis

feat: Add staged deployment pattern and bring-your-own-platform support
  .gitignore
  terraform/terragrunt/Makefile
  terraform/terragrunt/README.md
  terraform/terragrunt/modules/azure-apim/main.tf
  terraform/terragrunt/modules/azure-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/stages/100-minimal.tfvars
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/stages/200-create-observability.tfvars
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/stages/300-byo-platform.tfvars
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/variables.tf
  terraform/terragrunt/setup-env.sh
Due: check-emojis

fix: Add null provider to Terragrunt root configuration
  terraform/terragrunt/root.hcl
Due: none

fix: Address Copilot code review feedback
  terraform/terragrunt/modules/azure-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/terraform.tfvars.example
Due: check-emojis

feat: Add staged deployment pattern and bring-your-own-platform support (#42)
  .gitignore
  terraform/terragrunt/Makefile
  terraform/terragrunt/README.md
  terraform/terragrunt/modules/azure-apim/main.tf
  terraform/terragrunt/modules/azure-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/stages/100-minimal.tfvars
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/stages/200-create-observability.tfvars
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/stages/300-byo-platform.tfvars
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/variables.tf
  terraform/terragrunt/root.hcl
  terraform/terragrunt/setup-env.sh
Due: check-emojis

feat: Add BYO platform support to all Terragrunt stacks
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-function-app/outputs.tf
  terraform/terragrunt/modules/azure-function-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/README.md
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/README.md
Due: check-emojis

fix: Address Copilot review comments for BYO platform pattern
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/README.md
Due: check-emojis

feat: Add BYO platform support to all Terragrunt stacks (#43)
  terraform/terragrunt/Makefile
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-function-app/outputs.tf
  terraform/terragrunt/modules/azure-function-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-easyauth-e2e/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-shared-components/README.md
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/README.md
Due: check-emojis

feat: Add configurable managed identity support with UserAssigned option
  terraform/terragrunt/modules/azure-function-app/main.tf
  terraform/terragrunt/modules/azure-function-app/outputs.tf
  terraform/terragrunt/modules/azure-function-app/variables.tf
  terraform/terragrunt/modules/azure-web-app/main.tf
  terraform/terragrunt/modules/azure-web-app/outputs.tf
  terraform/terragrunt/modules/azure-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
  terraform/terragrunt/refactor-stacks.sh
Due: none

feat(react-webapp): Wire up managed identity to module calls
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
Due: none

feat(react-webapp-easyauth): Add managed identity configuration
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp-easyauth/variables.tf
Due: none

Path conditions:
  biome-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx)$
  check-emojis: any of: \.(md|markdown)$
