Repository nickromney/public-cloud-experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, check-emojis

biome-check:
  name: Biome lint and format
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run type-check'
  language: system
  pass_filenames: false

check-emojis:
  name: Check for emojis in markdown
  entry: .git-hooks/check-emojis.sh
  language: script

chore: add apim scripts
  subnet-calculator/frontend-html-static/conftest.py
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/23-deploy-function-apim.sh
  subnet-calculator/infrastructure/azure/30-apim-instance.sh
  subnet-calculator/infrastructure/azure/31-apim-backend.sh
  subnet-calculator/infrastructure/azure/32-apim-policies.sh
  subnet-calculator/infrastructure/azure/99-cleanup.sh
  subnet-calculator/infrastructure/azure/PLURALSIGHT-SANDBOX-CONSTRAINTS.md
  subnet-calculator/infrastructure/azure/README.md
  subnet-calculator/infrastructure/azure/policies/README.md
  subnet-calculator/infrastructure/azure/policies/inbound-jwt.xml
  subnet-calculator/infrastructure/azure/policies/inbound-none.xml
  subnet-calculator/infrastructure/azure/policies/inbound-subscription.xml
Due: check-emojis

chore: work to make scripts more elegant
  .claude/settings.local.json
  scripts/markdown/README.md
  scripts/markdown/fix-all-docs.sh
  scripts/markdown/fix-bold-h1.sh
  scripts/markdown/fix-duplicate-h1.sh
  scripts/markdown/fix-image-alt-text.sh
  scripts/markdown/fix-ordered-lists.sh
  scripts/markdown/remove-emojis.py
  scripts/markdown/report-markdownlint-issues.sh
  subnet-calculator/blog/capture-screenshots.ts
  subnet-calculator/infrastructure/azure/00-static-web-app.sh
  subnet-calculator/infrastructure/azure/10-function-app.sh
  subnet-calculator/infrastructure/azure/11-create-vnet-infrastructure.sh
  subnet-calculator/infrastructure/azure/12-create-app-service-plan.sh
  subnet-calculator/infrastructure/azure/13-create-function-app-on-app-service-plan.sh
  subnet-calculator/infrastructure/azure/14-configure-function-vnet-integration.sh
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/21-deploy-function.sh
  subnet-calculator/infrastructure/azure/22-deploy-function-zip.sh
  subnet-calculator/infrastructure/azure/23-deploy-function-apim.sh
  subnet-calculator/infrastructure/azure/30-apim-instance.sh
  subnet-calculator/infrastructure/azure/31-apim-backend.sh
  subnet-calculator/infrastructure/azure/32-apim-policies.sh
  subnet-calculator/infrastructure/azure/40-configure-custom-domain-swa.sh
  subnet-calculator/infrastructure/azure/99-cleanup.sh
  subnet-calculator/infrastructure/azure/PLURALSIGHT-SANDBOX-CONSTRAINTS.md
  subnet-calculator/infrastructure/azure/README.md
  subnet-calculator/infrastructure/azure/docs/IMPLEMENTATION-PLAN.md
  subnet-calculator/infrastructure/azure/docs/PHASE-2-VNET-INTEGRATION.md
  subnet-calculator/infrastructure/azure/docs/SANDBOX-TESTING-GUIDE.md
  subnet-calculator/infrastructure/azure/policies/README.md
  subnet-calculator/infrastructure/azure/setup-env.sh
Due: check-emojis

Chore/20251013 apim (#6)
  .claude/settings.local.json
  scripts/markdown/README.md
  scripts/markdown/fix-all-docs.sh
  scripts/markdown/fix-bold-h1.sh
  scripts/markdown/fix-duplicate-h1.sh
  scripts/markdown/fix-image-alt-text.sh
  scripts/markdown/fix-ordered-lists.sh
  scripts/markdown/remove-emojis.py
  scripts/markdown/report-markdownlint-issues.sh
  subnet-calculator/blog/capture-screenshots.ts
  subnet-calculator/frontend-html-static/conftest.py
  subnet-calculator/infrastructure/azure/00-static-web-app.sh
  subnet-calculator/infrastructure/azure/10-function-app.sh
  subnet-calculator/infrastructure/azure/11-create-vnet-infrastructure.sh
  subnet-calculator/infrastructure/azure/12-create-app-service-plan.sh
  subnet-calculator/infrastructure/azure/13-create-function-app-on-app-service-plan.sh
  subnet-calculator/infrastructure/azure/14-configure-function-vnet-integration.sh
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/21-deploy-function.sh
  subnet-calculator/infrastructure/azure/22-deploy-function-zip.sh
  subnet-calculator/infrastructure/azure/23-deploy-function-apim.sh
  subnet-calculator/infrastructure/azure/30-apim-instance.sh
  subnet-calculator/infrastructure/azure/31-apim-backend.sh
  subnet-calculator/infrastructure/azure/32-apim-policies.sh
  subnet-calculator/infrastructure/azure/40-configure-custom-domain-swa.sh
  subnet-calculator/infrastructure/azure/99-cleanup.sh
  subnet-calculator/infrastructure/azure/PLURALSIGHT-SANDBOX-CONSTRAINTS.md
  subnet-calculator/infrastructure/azure/README.md
  subnet-calculator/infrastructure/azure/docs/IMPLEMENTATION-PLAN.md
  subnet-calculator/infrastructure/azure/docs/PHASE-2-VNET-INTEGRATION.md
  subnet-calculator/infrastructure/azure/docs/SANDBOX-TESTING-GUIDE.md
  subnet-calculator/infrastructure/azure/policies/README.md
  subnet-calculator/infrastructure/azure/policies/inbound-jwt.xml
  subnet-calculator/infrastructure/azure/policies/inbound-none.xml
  subnet-calculator/infrastructure/azure/policies/inbound-subscription.xml
  subnet-calculator/infrastructure/azure/setup-env.sh
Due: check-emojis

feat: add stack deployment wrapper scripts
  .claude/settings.local.json
  subnet-calculator/infrastructure/azure/00-static-web-app.sh
  subnet-calculator/infrastructure/azure/50-deploy-flask-app-service.sh
  subnet-calculator/infrastructure/azure/docs/STACK-DEPLOYMENT-PLAN.md
  subnet-calculator/infrastructure/azure/stack-01-public-simple.sh
  subnet-calculator/infrastructure/azure/stack-02-flask-jwt.sh
Due: check-emojis

Chore/20251014 stack deployment (#7)
  .claude/settings.local.json
  subnet-calculator/infrastructure/azure/00-static-web-app.sh
  subnet-calculator/infrastructure/azure/50-deploy-flask-app-service.sh
  subnet-calculator/infrastructure/azure/docs/STACK-DEPLOYMENT-PLAN.md
  subnet-calculator/infrastructure/azure/stack-01-public-simple.sh
  subnet-calculator/infrastructure/azure/stack-02-flask-jwt.sh
Due: check-emojis

chore: add jwt to typescript as stack 5
  subnet-calculator/api-fastapi-azure-function/function_app.py
  subnet-calculator/compose.yml
  subnet-calculator/frontend-typescript-vite/.env.test
  subnet-calculator/frontend-typescript-vite/Dockerfile
  subnet-calculator/frontend-typescript-vite/README.md
  subnet-calculator/frontend-typescript-vite/index.html
  subnet-calculator/frontend-typescript-vite/nginx.conf
  subnet-calculator/frontend-typescript-vite/package.json
  subnet-calculator/frontend-typescript-vite/playwright.config.ts
  subnet-calculator/frontend-typescript-vite/playwright.integration.config.ts
  subnet-calculator/frontend-typescript-vite/src/api.ts
  subnet-calculator/frontend-typescript-vite/src/auth.ts
  subnet-calculator/frontend-typescript-vite/src/config.ts
  subnet-calculator/frontend-typescript-vite/src/main.ts
  subnet-calculator/frontend-typescript-vite/tests/frontend.spec.ts
  subnet-calculator/frontend-typescript-vite/tests/integration.spec.ts
Due: biome-check, typescript-check, check-emojis

chore: get jwt working when using SWA cli
  .claude/settings.local.json
  subnet-calculator/.node-version
  subnet-calculator/Makefile
  subnet-calculator/SWA-CLI.md
  subnet-calculator/frontend-typescript-vite/.env.stack5
  subnet-calculator/frontend-typescript-vite/package.json
  subnet-calculator/frontend-typescript-vite/playwright.swa.config.ts
  subnet-calculator/frontend-typescript-vite/src/config.ts
  subnet-calculator/frontend-typescript-vite/src/ui.ts
  subnet-calculator/frontend-typescript-vite/tests/swa.spec.ts
  subnet-calculator/package.json
  subnet-calculator/start-api-azure-function.sh
  subnet-calculator/start-api-container-app.sh
  subnet-calculator/swa-cli.config.json
Due: biome-check, typescript-check, check-emojis

chore: update stack4 to have no auth
  subnet-calculator/Makefile
  subnet-calculator/frontend-typescript-vite/src/config.ts
Due: biome-check, typescript-check

chore: add bruno testing
  .claude/settings.local.json
  subnet-calculator/.gitignore
  subnet-calculator/AUTHENTICATION-OPTIONS.md
  subnet-calculator/Makefile
  subnet-calculator/README.md
  subnet-calculator/SECURITY-INSPECTION.md
  subnet-calculator/SWA-ENTRA-AUTH.md
  subnet-calculator/bruno-collections/.gitignore
  subnet-calculator/bruno-collections/README.md
  subnet-calculator/bruno-collections/Stack 4 - No Auth/Health Check.bru
  subnet-calculator/bruno-collections/Stack 4 - No Auth/Subnet Info.bru
  subnet-calculator/bruno-collections/Stack 4 - No Auth/Validate IP.bru
  subnet-calculator/bruno-collections/Stack 5 - JWT Auth/Health Check.bru
  subnet-calculator/bruno-collections/Stack 5 - JWT Auth/Login.bru
  subnet-calculator/bruno-collections/Stack 5 - JWT Auth/Subnet Info.bru
  subnet-calculator/bruno-collections/Stack 6 - Entra ID Auth/Check Auth Status.bru
  subnet-calculator/bruno-collections/Stack 6 - Entra ID Auth/Health Check.bru
  subnet-calculator/bruno-collections/Stack 6 - Entra ID Auth/Subnet Info.bru
  subnet-calculator/bruno-collections/bruno.json
  subnet-calculator/bruno-collections/environments/local.bru
  subnet-calculator/bruno-collections/environments/production.bru
  subnet-calculator/frontend-typescript-vite/biome.json
  subnet-calculator/frontend-typescript-vite/playwright.swa.config.ts
  subnet-calculator/frontend-typescript-vite/tests/swa.spec.ts
  subnet-calculator/staticwebapp.config.json
  subnet-calculator/swa-cli.config.json
Due: biome-check, typescript-check, check-emojis

chore: address copilot suggestions
  subnet-calculator/frontend-typescript-vite/src/auth.ts
  subnet-calculator/frontend-typescript-vite/src/config.ts
Due: biome-check, typescript-check

chore: add swa provisioning scripts
  .pre-commit-config.yaml
  subnet-calculator/frontend-html-static/js/app.js
  subnet-calculator/infrastructure/azure/00-static-web-app.sh
  subnet-calculator/infrastructure/azure/05-static-website-storage.sh
  subnet-calculator/infrastructure/azure/10-function-app.sh
  subnet-calculator/infrastructure/azure/11-create-vnet-infrastructure.sh
  subnet-calculator/infrastructure/azure/12-create-app-service-plan.sh
  subnet-calculator/infrastructure/azure/13-create-function-app-on-app-service-plan.sh
  subnet-calculator/infrastructure/azure/14-configure-function-vnet-integration.sh
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/21-deploy-function.sh
  subnet-calculator/infrastructure/azure/22-deploy-function-zip.sh
  subnet-calculator/infrastructure/azure/23-deploy-function-apim.sh
  subnet-calculator/infrastructure/azure/25-deploy-static-website-storage.sh
  subnet-calculator/infrastructure/azure/30-apim-instance.sh
  subnet-calculator/infrastructure/azure/31-apim-backend.sh
  subnet-calculator/infrastructure/azure/32-apim-policies.sh
  subnet-calculator/infrastructure/azure/40-configure-custom-domain-swa.sh
  subnet-calculator/infrastructure/azure/50-deploy-flask-app-service.sh
  subnet-calculator/infrastructure/azure/Makefile
  subnet-calculator/infrastructure/azure/README.md
  subnet-calculator/infrastructure/azure/docs/DNS-CONFIGURATION.md
  subnet-calculator/infrastructure/azure/docs/PRODUCTION-DEPLOYMENT.md
  subnet-calculator/infrastructure/azure/lib/selection-utils.sh
  subnet-calculator/infrastructure/azure/setup-env.nu
  subnet-calculator/infrastructure/azure/setup-env.sh
  subnet-calculator/infrastructure/azure/stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/stack-04-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/stack-05-swa-typescript-entraid.sh
  subnet-calculator/infrastructure/azure/stack-06-flask-appservice.sh
Due: check-emojis

chore: resource choosing improvements
  subnet-calculator/infrastructure/azure/10-function-app.sh
  subnet-calculator/infrastructure/azure/11-create-vnet-infrastructure.sh
  subnet-calculator/infrastructure/azure/lib/selection-utils.sh
  subnet-calculator/infrastructure/azure/stack-01-public-simple.sh
  subnet-calculator/infrastructure/azure/stack-02-flask-jwt.sh
  subnet-calculator/infrastructure/azure/stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/stack-04-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/stack-05-swa-typescript-entraid.sh
Due: none

Chore/20251015 swa provisioning (#9)
  .pre-commit-config.yaml
  subnet-calculator/frontend-html-static/js/app.js
  subnet-calculator/infrastructure/azure/00-static-web-app.sh
  subnet-calculator/infrastructure/azure/05-static-website-storage.sh
  subnet-calculator/infrastructure/azure/10-function-app.sh
  subnet-calculator/infrastructure/azure/11-create-vnet-infrastructure.sh
  subnet-calculator/infrastructure/azure/12-create-app-service-plan.sh
  subnet-calculator/infrastructure/azure/13-create-function-app-on-app-service-plan.sh
  subnet-calculator/infrastructure/azure/14-configure-function-vnet-integration.sh
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/21-deploy-function.sh
  subnet-calculator/infrastructure/azure/22-deploy-function-zip.sh
  subnet-calculator/infrastructure/azure/23-deploy-function-apim.sh
  subnet-calculator/infrastructure/azure/25-deploy-static-website-storage.sh
  subnet-calculator/infrastructure/azure/30-apim-instance.sh
  subnet-calculator/infrastructure/azure/31-apim-backend.sh
  subnet-calculator/infrastructure/azure/32-apim-policies.sh
  subnet-calculator/infrastructure/azure/40-configure-custom-domain-swa.sh
  subnet-calculator/infrastructure/azure/50-deploy-flask-app-service.sh
  subnet-calculator/infrastructure/azure/Makefile
  subnet-calculator/infrastructure/azure/README.md
  subnet-calculator/infrastructure/azure/docs/DNS-CONFIGURATION.md
  subnet-calculator/infrastructure/azure/docs/PRODUCTION-DEPLOYMENT.md
  subnet-calculator/infrastructure/azure/lib/selection-utils.sh
  subnet-calculator/infrastructure/azure/setup-env.nu
  subnet-calculator/infrastructure/azure/setup-env.sh
  subnet-calculator/infrastructure/azure/stack-02-flask-jwt.sh
  subnet-calculator/infrastructure/azure/stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/stack-04-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/stack-05-swa-typescript-entraid.sh
  subnet-calculator/infrastructure/azure/stack-06-flask-appservice.sh
Due: check-emojis

chore: add favicon; remove auto-testing in Makefile
  .claude/settings.local.json
  Makefile
  subnet-calculator/frontend-html-static/Dockerfile
  subnet-calculator/frontend-html-static/favicon.svg
  subnet-calculator/frontend-html-static/index.html
  subnet-calculator/frontend-html-static/test_frontend.py
  subnet-calculator/frontend-python-flask/app.py
  subnet-calculator/frontend-python-flask/static/favicon.svg
  subnet-calculator/frontend-python-flask/templates/index.html
  subnet-calculator/frontend-python-flask/test_frontend.py
  subnet-calculator/frontend-typescript-vite/index.html
  subnet-calculator/frontend-typescript-vite/public/favicon.svg
  subnet-calculator/frontend-typescript-vite/tests/frontend.spec.ts
Due: biome-check, typescript-check

chore: update to function flex consumption
  .claude/settings.local.json
  subnet-calculator/bruno-collections/Stack 1 - Storage Container/Health Check.bru
  subnet-calculator/bruno-collections/Stack 1 - Storage Container/Subnet Info.bru
  subnet-calculator/bruno-collections/Stack 1 - Storage Container/Validate IP.bru
  subnet-calculator/bruno-collections/environments/local.bru
  subnet-calculator/bruno-collections/environments/production.bru
  subnet-calculator/frontend-typescript-vite/src/config.ts
  subnet-calculator/infrastructure/azure/10-function-app.sh
  subnet-calculator/infrastructure/azure/25-deploy-static-website-storage.sh
  subnet-calculator/infrastructure/azure/50-deploy-flask-app-service.sh
  subnet-calculator/infrastructure/azure/FLEX-CONSUMPTION.md
  subnet-calculator/infrastructure/azure/README.md
  subnet-calculator/infrastructure/azure/docs/DNS-CONFIGURATION.md
  subnet-calculator/infrastructure/azure/docs/PRODUCTION-DEPLOYMENT.md
  subnet-calculator/infrastructure/azure/docs/STACK-DEPLOYMENT-PLAN.md
  subnet-calculator/infrastructure/azure/test-static-deployment.sh
Due: biome-check, typescript-check, check-emojis

chore: handle flex consumption url; form submission
  subnet-calculator/frontend-html-static/js/app.js
  subnet-calculator/infrastructure/azure/25-deploy-static-website-storage.sh
Due: none

chore: add SWA documentation
  subnet-calculator/infrastructure/azure/docs/SWA-AUTHENTICATION-ARCHITECTURES.md
Due: check-emojis

chore: add further swa stacks
  .github/workflows/swa-byo-functions.yml
  .github/workflows/swa-managed-functions.yml
  subnet-calculator/infrastructure/azure/40-link-backend-to-swa.sh
  subnet-calculator/infrastructure/azure/45-configure-ip-restrictions.sh
  subnet-calculator/infrastructure/azure/46-create-private-endpoint.sh
  subnet-calculator/infrastructure/azure/README-SWA-CONFIG.md
  subnet-calculator/infrastructure/azure/lib/detect-function-type.sh
  subnet-calculator/infrastructure/azure/lib/verify-regions.sh
  subnet-calculator/infrastructure/azure/stack-04-swa-typescript-managed.sh
  subnet-calculator/infrastructure/azure/stack-05a-swa-typescript-entraid-frontend.sh
  subnet-calculator/infrastructure/azure/stack-05b-swa-typescript-entraid-linked.sh
  subnet-calculator/infrastructure/azure/stack-05c-swa-typescript-entraid-double.sh
  subnet-calculator/infrastructure/azure/stack-06-swa-typescript-network-secured.sh
  subnet-calculator/infrastructure/azure/stack-07-swa-typescript-private.sh
  subnet-calculator/infrastructure/azure/stack-08-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/stack-09-swa-typescript-managed-auth.sh
  subnet-calculator/infrastructure/azure/staticwebapp-entraid.config.json
  subnet-calculator/infrastructure/azure/staticwebapp-managed.config.json
  subnet-calculator/infrastructure/azure/staticwebapp-noauth.config.json
Due: check-emojis

chore: fix identified security issues
  .claude/settings.local.json
  subnet-calculator/api-fastapi-azure-function/config.py
  subnet-calculator/api-fastapi-azure-function/function_app.py
  subnet-calculator/api-fastapi-azure-function/test_cors_and_headers.py
  subnet-calculator/api-fastapi-container-app/app/config.py
  subnet-calculator/api-fastapi-container-app/app/main.py
  subnet-calculator/api-fastapi-container-app/tests/test_cors_and_headers.py
  subnet-calculator/infrastructure/azure/stack-05b-swa-typescript-entraid-linked.sh
  subnet-calculator/infrastructure/azure/stack-06-swa-typescript-network-secured.sh
Due: none

refactor: reorganize documentation and standardize stack numbering
  scripts/markdown/remove-emojis.py
  subnet-calculator/Makefile
  subnet-calculator/bruno-collections/Local Stack 01 - Storage Container/Health Check.bru
  subnet-calculator/bruno-collections/Local Stack 01 - Storage Container/Subnet Info.bru
  subnet-calculator/bruno-collections/Local Stack 01 - Storage Container/Validate IP.bru
  subnet-calculator/bruno-collections/Local Stack 04 - Vite No Auth/Health Check.bru
  subnet-calculator/bruno-collections/Local Stack 04 - Vite No Auth/Subnet Info.bru
  subnet-calculator/bruno-collections/Local Stack 04 - Vite No Auth/Validate IP.bru
  subnet-calculator/bruno-collections/Local Stack 05 - Vite JWT Auth/Health Check.bru
  subnet-calculator/bruno-collections/Local Stack 05 - Vite JWT Auth/Login.bru
  subnet-calculator/bruno-collections/Local Stack 05 - Vite JWT Auth/Subnet Info.bru
  subnet-calculator/bruno-collections/Local Stack 06 - Entra ID Auth/Check Auth Status.bru
  subnet-calculator/bruno-collections/Local Stack 06 - Entra ID Auth/Health Check.bru
  subnet-calculator/bruno-collections/Local Stack 06 - Entra ID Auth/Subnet Info.bru
  subnet-calculator/compose.yml
  subnet-calculator/docs/ENTRA-ID-LOCAL-TESTING.md
  subnet-calculator/docs/NEXT-STEPS-CONTAINER-APP.md
  subnet-calculator/docs/SWA-CLI.md
  subnet-calculator/docs/SWA-ENTRA-AUTH.md
  subnet-calculator/docs/SWA-FUNCTIONS-GUIDE.md
  subnet-calculator/docs/TESTING-GUIDE.md
  subnet-calculator/docs/TESTING.md
  subnet-calculator/infrastructure/azure/azure-stack-01-public-simple.sh
  subnet-calculator/infrastructure/azure/azure-stack-02-flask-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/azure-stack-04-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-04-swa-typescript-managed.sh
  subnet-calculator/infrastructure/azure/azure-stack-05-swa-typescript-entraid-frontend.sh
  subnet-calculator/infrastructure/azure/azure-stack-05-swa-typescript-entraid-old.sh
  subnet-calculator/infrastructure/azure/azure-stack-06-swa-typescript-entraid-linked.sh
  subnet-calculator/infrastructure/azure/azure-stack-07-swa-typescript-entraid-double.sh
  subnet-calculator/infrastructure/azure/azure-stack-08-flask-appservice.sh
  subnet-calculator/infrastructure/azure/azure-stack-08-swa-typescript-network-secured.sh
  subnet-calculator/infrastructure/azure/azure-stack-09-swa-typescript-private.sh
  subnet-calculator/infrastructure/azure/azure-stack-10-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-11-swa-typescript-managed-auth.sh
  subnet-calculator/swa-cli.config.json
Due: check-emojis

refactor: consolidate all documentation to docs/ directory
  subnet-calculator/ENTRA-ID-LOCAL-TESTING.md
  subnet-calculator/NEXT-STEPS-CONTAINER-APP.md
  subnet-calculator/SWA-CLI.md
  subnet-calculator/SWA-ENTRA-AUTH.md
  subnet-calculator/TESTING.md
  subnet-calculator/docs/AUTHENTICATION-OPTIONS.md
  subnet-calculator/docs/DNS-CONFIGURATION.md
  subnet-calculator/docs/FLEX-CONSUMPTION.md
  subnet-calculator/docs/IMPLEMENTATION-PLAN.md
  subnet-calculator/docs/PHASE-2-VNET-INTEGRATION.md
  subnet-calculator/docs/PLURALSIGHT-SANDBOX-CONSTRAINTS.md
  subnet-calculator/docs/PRODUCTION-DEPLOYMENT.md
  subnet-calculator/docs/README-SWA-CONFIG.md
  subnet-calculator/docs/SANDBOX-TESTING-GUIDE.md
  subnet-calculator/docs/SECURITY-INSPECTION.md
  subnet-calculator/docs/STACK-DEPLOYMENT-PLAN.md
  subnet-calculator/docs/SWA-AUTHENTICATION-ARCHITECTURES.md
Due: check-emojis

chore: rename local stacks
  .claude/settings.local.json
  subnet-calculator/bruno-collections/Local Stack 01 - Storage Container/Subnet Info.bru
  subnet-calculator/swa-cli.config.json
Due: none

refactor: standardize Bruno collections and Makefile with unified naming (direct/compose/swa)
  .claude/settings.local.json
  subnet-calculator/Makefile
  subnet-calculator/bruno-collections/direct-container-app/Health Check.bru
  subnet-calculator/bruno-collections/direct-container-app/Subnet Info.bru
  subnet-calculator/bruno-collections/direct-container-app/Validate IP.bru
  subnet-calculator/bruno-collections/environments/local.bru
  subnet-calculator/bruno-collections/environments/production.bru
  subnet-calculator/bruno-collections/swa-04/Health Check.bru
  subnet-calculator/bruno-collections/swa-04/Subnet Info.bru
  subnet-calculator/bruno-collections/swa-04/Validate IP.bru
  subnet-calculator/bruno-collections/swa-05/Health Check.bru
  subnet-calculator/bruno-collections/swa-05/Login.bru
  subnet-calculator/bruno-collections/swa-05/Subnet Info.bru
  subnet-calculator/bruno-collections/swa-06/Check Auth Status.bru
  subnet-calculator/bruno-collections/swa-06/Health Check.bru
  subnet-calculator/bruno-collections/swa-06/Subnet Info.bru
  subnet-calculator/compose.yml
  subnet-calculator/swa-cli.config.json
Due: none

feat: create missing Bruno collections for direct, compose, and SWA contexts
  subnet-calculator/bruno-collections/README.md
  subnet-calculator/bruno-collections/compose-01/API Health.bru
  subnet-calculator/bruno-collections/compose-01/Frontend Health.bru
  subnet-calculator/bruno-collections/compose-01/Subnet Info.bru
  subnet-calculator/bruno-collections/compose-02/API Health.bru
  subnet-calculator/bruno-collections/compose-02/Frontend Health.bru
  subnet-calculator/bruno-collections/compose-02/Subnet Info.bru
  subnet-calculator/bruno-collections/compose-03/API Health.bru
  subnet-calculator/bruno-collections/compose-03/Frontend Health.bru
  subnet-calculator/bruno-collections/compose-03/Subnet Info.bru
  subnet-calculator/bruno-collections/compose-04/API Health.bru
  subnet-calculator/bruno-collections/compose-04/Frontend Health.bru
  subnet-calculator/bruno-collections/compose-04/Subnet Info.bru
  subnet-calculator/bruno-collections/direct-azure-function/Health Check.bru
  subnet-calculator/bruno-collections/direct-azure-function/Login.bru
  subnet-calculator/bruno-collections/direct-azure-function/Subnet Info.bru
  subnet-calculator/bruno-collections/direct-flask/Page Load.bru
  subnet-calculator/bruno-collections/direct-vite/Page Load.bru
Due: check-emojis

feat: Add chained Makefile targets for automated service startup and testing
  subnet-calculator/Makefile
Due: none

fix: Remove comments from Bruno environment vars block
  subnet-calculator/bruno-collections/environments/local.bru
Due: none

refactor: Remove unnecessary port cleanup from compose and swa test chains
  subnet-calculator/Makefile
Due: none

fix: Change login endpoint requests from JSON to form-urlencoded
  subnet-calculator/bruno-collections/direct-azure-function/Login.bru
  subnet-calculator/bruno-collections/swa-05/Login.bru
Due: none

feat: Add SWA service startup logic to test-bruno-swa-full
  subnet-calculator/Makefile
Due: none

fix: Use proper formUrlEncoded syntax in Bruno login requests
  subnet-calculator/bruno-collections/direct-azure-function/Login.bru
  subnet-calculator/bruno-collections/swa-05/Login.bru
Due: none

refactor: Add backend dependencies to test-bruno-swa-full
  subnet-calculator/Makefile
Due: none

fix: SWA test should only manage SWA services (4xxx ports)
  subnet-calculator/Makefile
Due: none

fix: Fix SWA API proxy connectivity and add compose-01 JWT authentication
  .claude/settings.local.json
  subnet-calculator/Makefile
  subnet-calculator/bruno-collections/compose-01/Login.bru
  subnet-calculator/bruno-collections/compose-01/Subnet Info.bru
  subnet-calculator/frontend-typescript-vite/src/config.ts
  subnet-calculator/swa-cli.config.json
Due: biome-check, typescript-check

refactor: SWA stacks use static builds and compose-delivered backends
  subnet-calculator/Makefile
  subnet-calculator/swa-cli.config.json
Due: none

feat: Add convenience targets for testing all SWA stacks
  subnet-calculator/Makefile
Due: none

fix: Resolve SWA stack backend conflicts
  subnet-calculator/Makefile
  subnet-calculator/swa-cli.config.json
Due: none

docs: Add STACK_INTENTIONS.md - comprehensive architecture framework
  subnet-calculator/docs/STACK_INTENTIONS.md
Due: check-emojis

test: Fix swa-05 Bruno test failures and harmonize all test suites
  subnet-calculator/Makefile
  subnet-calculator/bruno-collections/swa-04/Health Check.bru
  subnet-calculator/bruno-collections/swa-06/Health Check.bru
  subnet-calculator/docs/TESTING.md
Due: check-emojis

docs: Add Entra ID testing plan - remote-first approach with auto-generated domain
  subnet-calculator/docs/ENTRAID-TESTING-PLAN.md
Due: check-emojis

Path conditions:
  biome-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx)$
  check-emojis: any of: \.(md|markdown)$
