Repository nickromney/public-cloud-experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, check-emojis

biome-check:
  name: Biome lint and format
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run type-check'
  language: system
  pass_filenames: false

check-emojis:
  name: Check for emojis in markdown
  entry: .git-hooks/check-emojis.sh
  language: script

fix: Use Pico CSS semantic button styles for example buttons
  subnet-calculator/frontend-react/src/App.css
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
Due: none

fix: Use Pico CSS semantic button styles across all frontends
  subnet-calculator/frontend-python-flask/static/style.css
  subnet-calculator/frontend-python-flask/templates/index.html
  subnet-calculator/frontend-typescript-vite/index.html
  subnet-calculator/frontend-typescript-vite/src/style.css
Due: none

fix: Update React frontend favicon and title
  subnet-calculator/frontend-react/index.html
  subnet-calculator/frontend-react/public/favicon.svg
  subnet-calculator/frontend-react/public/vite.svg
Due: none

feat: Add visual variety to example buttons using Pico variants
  .claude/settings.local.json
  subnet-calculator/frontend-python-flask/templates/index.html
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
  subnet-calculator/frontend-typescript-vite/index.html
Due: none

fix: Add comprehensive CORS origins for all development scenarios
  subnet-calculator/compose.yml
Due: none

fix: Fix linting errors and match TypeScript frontend behavior
  subnet-calculator/frontend-react/src/App.css
  subnet-calculator/frontend-react/src/api/client.ts
  subnet-calculator/frontend-react/src/auth/AuthContext.tsx
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
  subnet-calculator/frontend-react/src/types.ts
Due: none

fix: Use identical HTML structure as TypeScript frontend
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
Due: none

feat: Add shared-frontend package and harmonize React/TypeScript frontends
  subnet-calculator/compose.yml
  subnet-calculator/frontend-react/Dockerfile
  subnet-calculator/frontend-react/index.html
  subnet-calculator/frontend-react/package.json
  subnet-calculator/frontend-react/src/App.tsx
  subnet-calculator/frontend-react/src/api/client.ts
  subnet-calculator/frontend-react/src/auth/AuthContext.tsx
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
  subnet-calculator/frontend-react/src/types.ts
  subnet-calculator/frontend-react/tsconfig.app.json
  subnet-calculator/frontend-react/vite.config.ts
  subnet-calculator/frontend-typescript-vite/Dockerfile
  subnet-calculator/frontend-typescript-vite/index.html
  subnet-calculator/frontend-typescript-vite/package.json
  subnet-calculator/frontend-typescript-vite/src/api.ts
  subnet-calculator/frontend-typescript-vite/src/main.ts
  subnet-calculator/frontend-typescript-vite/src/style.css
  subnet-calculator/frontend-typescript-vite/src/types.ts
  subnet-calculator/frontend-typescript-vite/tsconfig.json
  subnet-calculator/frontend-typescript-vite/vite.config.ts
  subnet-calculator/shared-frontend/README.md
  subnet-calculator/shared-frontend/biome.json
  subnet-calculator/shared-frontend/package.json
  subnet-calculator/shared-frontend/src/api/index.test.ts
  subnet-calculator/shared-frontend/src/api/index.ts
  subnet-calculator/shared-frontend/src/index.ts
  subnet-calculator/shared-frontend/src/styles.css
  subnet-calculator/shared-frontend/src/types/index.test.ts
  subnet-calculator/shared-frontend/src/types/index.ts
  subnet-calculator/shared-frontend/tsconfig.json
  subnet-calculator/shared-frontend/vitest.config.ts
Due: biome-check, typescript-check, check-emojis

fix: Correct ESLint flat config format in React frontend
  subnet-calculator/frontend-react/eslint.config.js
Due: none

feat: Add Terragrunt stacks for React webapp and Cloudflare DNS
  .pre-commit-config.yaml
  AGENTS.md
  subnet-calculator/infrastructure/azure/59-deploy-typescript-app-service.sh
  terraform/terragrunt/cloudflare-publiccloudexperiments/README.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/README.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terraform.tfvars.example
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terragrunt.hcl
  terraform/terragrunt/cloudflare-publiccloudexperiments/root.hcl
  terraform/terragrunt/modules/cloudflare-site/main.tf
  terraform/terragrunt/modules/cloudflare-site/outputs.tf
  terraform/terragrunt/modules/cloudflare-site/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
Due: check-emojis

refactor: Address GitHub Copilot code review feedback
  AGENTS.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
Due: check-emojis

fix: Enable terraform fmt for Terragrunt files
  .pre-commit-config.yaml
Due: none

feat: Add Terragrunt stacks for React webapp and Cloudflare DNS (#29)
  .pre-commit-config.yaml
  AGENTS.md
  subnet-calculator/infrastructure/azure/59-deploy-typescript-app-service.sh
  terraform/terragrunt/cloudflare-publiccloudexperiments/README.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/README.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terraform.tfvars.example
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terragrunt.hcl
  terraform/terragrunt/cloudflare-publiccloudexperiments/root.hcl
  terraform/terragrunt/modules/cloudflare-site/main.tf
  terraform/terragrunt/modules/cloudflare-site/outputs.tf
  terraform/terragrunt/modules/cloudflare-site/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/README.md
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/variables.tf
Due: check-emojis

feat: Add Cloudflare DNS management with Terragrunt
  terraform/terragrunt/cloudflare-publiccloudexperiments/EXPORT-DNS.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/IMPORT-GUIDE.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/Makefile
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terragrunt.hcl
  terraform/terragrunt/cloudflare-publiccloudexperiments/export-to-terraform.sh
  terraform/terragrunt/cloudflare-publiccloudexperiments/import-to-terraform.sh
  terraform/terragrunt/cloudflare-publiccloudexperiments/root.hcl
  terraform/terragrunt/cloudflare-publiccloudexperiments/setup-cloudflare-env.sh
  terraform/terragrunt/modules/cloudflare-site/main.tf
  terraform/terragrunt/modules/cloudflare-site/variables.tf
Due: check-emojis

fix: Correct Cloudflare module configuration and documentation
  subnet-calculator/shared-frontend/coverage/base.css
  subnet-calculator/shared-frontend/coverage/block-navigation.js
  subnet-calculator/shared-frontend/coverage/coverage-final.json
  subnet-calculator/shared-frontend/coverage/favicon.png
  subnet-calculator/shared-frontend/coverage/index.html
  subnet-calculator/shared-frontend/coverage/index.ts.html
  subnet-calculator/shared-frontend/coverage/lcov-report/base.css
  subnet-calculator/shared-frontend/coverage/lcov-report/block-navigation.js
  subnet-calculator/shared-frontend/coverage/lcov-report/favicon.png
  subnet-calculator/shared-frontend/coverage/lcov-report/index.html
  subnet-calculator/shared-frontend/coverage/lcov-report/index.ts.html
  subnet-calculator/shared-frontend/coverage/lcov-report/prettify.css
  subnet-calculator/shared-frontend/coverage/lcov-report/prettify.js
  subnet-calculator/shared-frontend/coverage/lcov-report/sort-arrow-sprite.png
  subnet-calculator/shared-frontend/coverage/lcov-report/sorter.js
  subnet-calculator/shared-frontend/coverage/lcov.info
  subnet-calculator/shared-frontend/coverage/prettify.css
  subnet-calculator/shared-frontend/coverage/prettify.js
  subnet-calculator/shared-frontend/coverage/sort-arrow-sprite.png
  subnet-calculator/shared-frontend/coverage/sorter.js
  terraform/terragrunt/cloudflare-publiccloudexperiments/EXPORT-DNS.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/IMPORT-GUIDE.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terragrunt.hcl
  terraform/terragrunt/cloudflare-publiccloudexperiments/export-to-terraform.sh
Due: check-emojis

fix: Add zone_id to export script tfvars output
  terraform/terragrunt/cloudflare-publiccloudexperiments/export-to-terraform.sh
  terraform/terragrunt/modules/cloudflare-site/variables.tf
Due: none

feat: Add Cloudflare DNS management with Terragrunt (#30)
  subnet-calculator/shared-frontend/coverage/base.css
  subnet-calculator/shared-frontend/coverage/block-navigation.js
  subnet-calculator/shared-frontend/coverage/coverage-final.json
  subnet-calculator/shared-frontend/coverage/favicon.png
  subnet-calculator/shared-frontend/coverage/index.html
  subnet-calculator/shared-frontend/coverage/index.ts.html
  subnet-calculator/shared-frontend/coverage/lcov-report/base.css
  subnet-calculator/shared-frontend/coverage/lcov-report/block-navigation.js
  subnet-calculator/shared-frontend/coverage/lcov-report/favicon.png
  subnet-calculator/shared-frontend/coverage/lcov-report/index.html
  subnet-calculator/shared-frontend/coverage/lcov-report/index.ts.html
  subnet-calculator/shared-frontend/coverage/lcov-report/prettify.css
  subnet-calculator/shared-frontend/coverage/lcov-report/prettify.js
  subnet-calculator/shared-frontend/coverage/lcov-report/sort-arrow-sprite.png
  subnet-calculator/shared-frontend/coverage/lcov-report/sorter.js
  subnet-calculator/shared-frontend/coverage/lcov.info
  subnet-calculator/shared-frontend/coverage/prettify.css
  subnet-calculator/shared-frontend/coverage/prettify.js
  subnet-calculator/shared-frontend/coverage/sort-arrow-sprite.png
  subnet-calculator/shared-frontend/coverage/sorter.js
  terraform/terragrunt/cloudflare-publiccloudexperiments/EXPORT-DNS.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/IMPORT-GUIDE.md
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/Makefile
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terragrunt.hcl
  terraform/terragrunt/cloudflare-publiccloudexperiments/export-to-terraform.sh
  terraform/terragrunt/cloudflare-publiccloudexperiments/import-to-terraform.sh
  terraform/terragrunt/cloudflare-publiccloudexperiments/root.hcl
  terraform/terragrunt/cloudflare-publiccloudexperiments/setup-cloudflare-env.sh
  terraform/terragrunt/modules/cloudflare-site/main.tf
  terraform/terragrunt/modules/cloudflare-site/variables.tf
Due: check-emojis

fix: Set TTL default to 1 (automatic) and remove data source
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terraform.tfvars.example
  terraform/terragrunt/modules/cloudflare-site/main.tf
  terraform/terragrunt/modules/cloudflare-site/outputs.tf
Due: none

fix: Set TTL default to 1 (automatic) and remove data source (#32)
  terraform/terragrunt/cloudflare-publiccloudexperiments/dns-core/terraform.tfvars.example
  terraform/terragrunt/modules/cloudflare-site/main.tf
  terraform/terragrunt/modules/cloudflare-site/outputs.tf
Due: none

feat: Add Terragrunt stack-based module for Azure Static Web Apps
  .claude/settings.local.json
  terraform/terragrunt/.envrc.example
  terraform/terragrunt/modules/azure-static-web-app/README.md
  terraform/terragrunt/modules/azure-static-web-app/main.tf
  terraform/terragrunt/modules/azure-static-web-app/outputs.tf
  terraform/terragrunt/modules/azure-static-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/DESIGN.md
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/README.md
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/import-stacks.sh
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/terragrunt.hcl
  terraform/terragrunt/setup-env.sh
Due: check-emojis

feat: Support import scenarios with resource_names and location overrides
  terraform/terragrunt/modules/azure-static-web-app/main.tf
  terraform/terragrunt/modules/azure-static-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/terragrunt.hcl
Due: none

fix: Address Copilot AI code review feedback
  terraform/terragrunt/modules/azure-static-web-app/README.md
  terraform/terragrunt/modules/azure-static-web-app/main.tf
  terraform/terragrunt/modules/azure-static-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/DESIGN.md
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/import-stacks.sh
  terraform/terragrunt/setup-env.sh
Due: check-emojis

security: Upgrade storage account TLS to 1.2 minimum
  terraform/terragrunt/modules/azure-static-web-app/main.tf
Due: none

feat: Support importing existing Azure Static Web Apps infrastructure (#33)
  .claude/settings.local.json
  terraform/terragrunt/.envrc.example
  terraform/terragrunt/modules/azure-static-web-app/README.md
  terraform/terragrunt/modules/azure-static-web-app/main.tf
  terraform/terragrunt/modules/azure-static-web-app/outputs.tf
  terraform/terragrunt/modules/azure-static-web-app/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/DESIGN.md
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/README.md
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/import-stacks.sh
  terraform/terragrunt/personal-sub/subnet-calc-static-web-apps/terragrunt.hcl
  terraform/terragrunt/setup-env.sh
Due: check-emojis

feat: Add React Web App stack with Makefile and Express server
  subnet-calculator/frontend-react/package.json
  subnet-calculator/frontend-react/server.js
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terragrunt.hcl
Due: none

fix: Address Copilot feedback on Makefile and server.js
  subnet-calculator/frontend-react/server.js
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
Due: none

feat: Add React Web App Terragrunt stack with comprehensive Makefile (#34)
  subnet-calculator/frontend-react/package.json
  subnet-calculator/frontend-react/server.js
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/terragrunt.hcl
Due: none

feat: Add JWT authentication support to React frontend
  .claude/settings.local.json
  subnet-calculator/compose.yml
  subnet-calculator/frontend-react/Dockerfile
  subnet-calculator/frontend-react/src/auth/AuthContext.tsx
  subnet-calculator/frontend-react/src/auth/jwtAuthProvider.tsx
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
  subnet-calculator/frontend-react/src/config.ts
  subnet-calculator/frontend-react/src/types.ts
  subnet-calculator/frontend-typescript-vite/src/auth.ts
  subnet-calculator/shared-frontend/package.json
  subnet-calculator/shared-frontend/src/auth/index.ts
  subnet-calculator/shared-frontend/src/auth/jwt.ts
  subnet-calculator/shared-frontend/src/index.ts
Due: biome-check, typescript-check

test: Add comprehensive tests for JWT TokenManager
  subnet-calculator/shared-frontend/src/auth/jwt.test.ts
Due: none

feat: Configure stack 1 for JWT authentication
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
Due: none

fix: Enable runtime config injection and fix function app build
  .claude/settings.local.json
  subnet-calculator/frontend-react/server.js
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/build-deployment-zip.sh
Due: none

fix: Use az webapp deploy instead of deprecated config-zip command
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/Makefile
Due: none

fix: Correct deployment paths for shared-frontend monorepo structure
  subnet-calculator/frontend-react/src/config.ts
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/build-deployment-zip.sh
Due: none

fix: Implement lazy-loaded config to support runtime environment detection
  subnet-calculator/frontend-react/src/config.ts
Due: none

fix: Add runtime config injection and JWT auth headers for Azure Web App deployment
  subnet-calculator/compose.yml
  subnet-calculator/frontend-react/Dockerfile.server
  subnet-calculator/frontend-react/server.js
  subnet-calculator/frontend-react/src/api/client.ts
  subnet-calculator/frontend-react/src/auth/jwtAuthProvider.tsx
  subnet-calculator/frontend-react/src/config.ts
  subnet-calculator/frontend-react/src/main.tsx
Due: none

fix: Prioritize VITE_AUTH_METHOD over hostname detection
  subnet-calculator/frontend-react/src/config.ts
Due: none

fix: Remove /api/v1 suffix from VITE_API_BASE_URL to prevent double path
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/build-deployment-zip.sh
Due: none

fix: Inject JWT credentials into runtime config for React Web App
  subnet-calculator/frontend-react/server.js
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-react-webapp/outputs.tf
Due: none

fix: Address code review feedback from Copilot
  subnet-calculator/frontend-react/server.js
  subnet-calculator/frontend-react/src/auth/jwtAuthProvider.tsx
  subnet-calculator/frontend-react/src/config.ts
  subnet-calculator/shared-frontend/src/auth/jwt.test.ts
Due: none

Path conditions:
  biome-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx)$
  check-emojis: any of: \.(md|markdown)$
