Repository nickromney/public-cloud-experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, check-emojis

biome-check:
  name: Biome lint and format
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run type-check'
  language: system
  pass_filenames: false

check-emojis:
  name: Check for emojis in markdown
  entry: .git-hooks/check-emojis.sh
  language: script

docs: Mark HTTPS listener design as implemented
  docs/plans/2025-10-30-application-gateway-https-keyvault-design.md
Due: check-emojis

docs: Add HTTPS listener troubleshooting guide
  subnet-calculator/infrastructure/azure/docs/application-gateway-https-troubleshooting.md
Due: check-emojis

docs: Add script 50 usage guide
  subnet-calculator/infrastructure/azure/docs/script-50-usage.md
Due: check-emojis

fix: Detect routing rule by HTTP listener reference, not [0] index
  subnet-calculator/infrastructure/azure/50-add-https-listener.sh
Due: none

feat: Add HTTPS listener to Application Gateway with Key Vault (#18)
  docs/plans/2025-10-30-application-gateway-https-keyvault-design.md
  subnet-calculator/infrastructure/azure/50-add-https-listener.sh
  subnet-calculator/infrastructure/azure/58-deploy-flask-app-service.sh
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
  subnet-calculator/infrastructure/azure/docs/application-gateway-https-troubleshooting.md
  subnet-calculator/infrastructure/azure/docs/script-50-usage.md
Due: check-emojis

docs: Add Key Vault and App Registration secret management design
  .claude/settings.local.json
  docs/plans/2025-10-30-keyvault-app-registration-secrets-design.md
Due: check-emojis

docs: Add implementation plan for Key Vault + App Registration automation
  docs/plans/2025-10-30-keyvault-app-registration-secrets.md
  scripts/markdown/fix-step-headings.py
Due: check-emojis

feat: Add script 51 for Key Vault setup
  subnet-calculator/infrastructure/azure/51-setup-key-vault.sh
Due: none

feat: Add script 52 for app registration automation
  subnet-calculator/infrastructure/azure/52-setup-app-registration.sh
Due: none

refactor: Use script 51 for Key Vault setup in script 50
  subnet-calculator/infrastructure/azure/50-add-https-listener.sh
Due: none

feat: Add Key Vault secret retrieval to script 42
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
Due: none

feat: Add Step 0 (Key Vault setup) to Stack 16
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
Due: none

feat: Add Step 0.5 (App Registration setup) to Stack 16
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
Due: none

feat: Update Stack 16 Step 11 to use Key Vault secrets
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
Due: none

fix: Source scripts 51 and 52 to propagate exports
  subnet-calculator/infrastructure/azure/50-add-https-listener.sh
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
Due: none

feat: Add script 53 for user-assigned managed identity
  subnet-calculator/infrastructure/azure/50-add-https-listener.sh
  subnet-calculator/infrastructure/azure/51-setup-key-vault.sh
  subnet-calculator/infrastructure/azure/52-setup-app-registration.sh
  subnet-calculator/infrastructure/azure/53-setup-managed-identity.sh
Due: none

fix: Update script 50 certificate storage for Application Gateway
  subnet-calculator/infrastructure/azure/50-add-https-listener.sh
Due: none

chore: Update approved command whitelist
  .claude/settings.local.json
Due: none

fix: Address code review feedback
  subnet-calculator/infrastructure/azure/52-setup-app-registration.sh
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
Due: none

feat: Automate Key Vault and App Registration secret management (#19)
  .claude/settings.local.json
  docs/plans/2025-10-30-keyvault-app-registration-secrets-design.md
  docs/plans/2025-10-30-keyvault-app-registration-secrets.md
  scripts/markdown/fix-step-headings.py
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
  subnet-calculator/infrastructure/azure/50-add-https-listener.sh
  subnet-calculator/infrastructure/azure/51-setup-key-vault.sh
  subnet-calculator/infrastructure/azure/52-setup-app-registration.sh
  subnet-calculator/infrastructure/azure/53-setup-managed-identity.sh
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
Due: check-emojis

chore: add apim files for stacks 17 and 18
  subnet-calculator/docs/2025-10-30-application-gateway-https-keyvault-design.md
  subnet-calculator/docs/2025-10-30-application-gateway-swa-private-endpoint-design.md
  subnet-calculator/docs/2025-10-30-application-gateway-swa-private-endpoint.md
  subnet-calculator/docs/2025-10-30-keyvault-app-registration-secrets-design.md
  subnet-calculator/docs/2025-10-30-keyvault-app-registration-secrets.md
  subnet-calculator/docs/STACK-17-18-COMPARISON.md
  subnet-calculator/docs/application-gateway-https-troubleshooting.md
  subnet-calculator/docs/application-gateway-troubleshooting.md
  subnet-calculator/docs/script-50-usage.md
  subnet-calculator/infrastructure/azure/43-create-apim-vnet.sh
  subnet-calculator/infrastructure/azure/44-link-swa-to-apim.sh
  subnet-calculator/infrastructure/azure/49-create-application-gateway.sh
  subnet-calculator/infrastructure/azure/54-add-https-listener-named.sh
  subnet-calculator/infrastructure/azure/55-add-path-based-routing.sh
  subnet-calculator/infrastructure/azure/56-create-private-endpoint-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-17-swa-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
Due: check-emojis

fix: Use correct VNet name from Stack 16
  subnet-calculator/infrastructure/azure/azure-stack-17-swa-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
Due: none

fix: Use az rest API for APIM VNet configuration
  subnet-calculator/infrastructure/azure/43-create-apim-vnet.sh
Due: none

fix: Set APIM VNet type at creation time
  subnet-calculator/infrastructure/azure/43-create-apim-vnet.sh
Due: none

feat: Separate VNets for Stack 17 (External) and Stack 18 (Internal)
  subnet-calculator/infrastructure/azure/41-create-apim-vnet.sh
  subnet-calculator/infrastructure/azure/42-create-apim-nsg.sh
  subnet-calculator/infrastructure/azure/azure-stack-17-swa-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
Due: none

feat: Add VNet peering for Stack 17/18 to reach Stack 16 resources
  subnet-calculator/infrastructure/azure/40-create-vnet-peering.sh
  subnet-calculator/infrastructure/azure/41-create-apim-vnet.sh
  subnet-calculator/infrastructure/azure/azure-stack-17-swa-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
Due: none

fix: Stack 17/18 now reuse Stack 16 AppGW instead of creating their own
  subnet-calculator/infrastructure/azure/azure-stack-17-swa-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
Due: none

fix: Include virtualNetworkType in REST API PATCH for APIM VNet config
  subnet-calculator/infrastructure/azure/43-create-apim-vnet.sh
Due: none

fix: APIM idempotency and app registration JSON regression
  subnet-calculator/infrastructure/azure/43-create-apim-vnet.sh
  subnet-calculator/infrastructure/azure/52-setup-app-registration.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
Due: none

fix: Address Copilot findings on APIM private endpoint confusion
  subnet-calculator/infrastructure/azure/43-create-apim-vnet.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
  subnet-calculator/infrastructure/azure/tests/test_stack_16_private_endpoint.bats
Due: none

fix: Update BATS tests for modernized credential handling
  subnet-calculator/infrastructure/azure/tests/test_credential_handling.bats
  subnet-calculator/infrastructure/azure/tests/test_stack_16_private_endpoint.bats
Due: none

fix: APIM VNet integration and app registration fixes (#20)
  subnet-calculator/docs/2025-10-30-application-gateway-https-keyvault-design.md
  subnet-calculator/docs/2025-10-30-application-gateway-swa-private-endpoint-design.md
  subnet-calculator/docs/2025-10-30-application-gateway-swa-private-endpoint.md
  subnet-calculator/docs/2025-10-30-keyvault-app-registration-secrets-design.md
  subnet-calculator/docs/2025-10-30-keyvault-app-registration-secrets.md
  subnet-calculator/docs/STACK-17-18-COMPARISON.md
  subnet-calculator/docs/application-gateway-https-troubleshooting.md
  subnet-calculator/docs/application-gateway-troubleshooting.md
  subnet-calculator/docs/script-50-usage.md
  subnet-calculator/infrastructure/azure/40-create-vnet-peering.sh
  subnet-calculator/infrastructure/azure/41-create-apim-vnet.sh
  subnet-calculator/infrastructure/azure/42-create-apim-nsg.sh
  subnet-calculator/infrastructure/azure/43-create-apim-vnet.sh
  subnet-calculator/infrastructure/azure/44-link-swa-to-apim.sh
  subnet-calculator/infrastructure/azure/49-create-application-gateway.sh
  subnet-calculator/infrastructure/azure/52-setup-app-registration.sh
  subnet-calculator/infrastructure/azure/54-add-https-listener-named.sh
  subnet-calculator/infrastructure/azure/55-add-path-based-routing.sh
  subnet-calculator/infrastructure/azure/56-create-private-endpoint-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-17-swa-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
  subnet-calculator/infrastructure/azure/tests/test_credential_handling.bats
  subnet-calculator/infrastructure/azure/tests/test_stack_16_private_endpoint.bats
Due: check-emojis

feat: Add performance timing to TypeScript frontend
  subnet-calculator/frontend-typescript-vite/src/main.ts
  subnet-calculator/frontend-typescript-vite/src/style.css
  subnet-calculator/frontend-typescript-vite/src/ui.ts
Due: biome-check, typescript-check

feat: Add detailed performance timing to subnet calculator frontend
  subnet-calculator/frontend-typescript-vite/public/logged-out.html
  subnet-calculator/frontend-typescript-vite/src/api.ts
  subnet-calculator/frontend-typescript-vite/src/main.ts
  subnet-calculator/frontend-typescript-vite/src/style.css
  subnet-calculator/frontend-typescript-vite/src/ui.ts
  subnet-calculator/frontend-typescript-vite/tests/auth-logout.spec.ts
  subnet-calculator/frontend-typescript-vite/tests/performance-timing.spec.ts
Due: biome-check, typescript-check

fix: Update performance timing tests to match actual label text
  subnet-calculator/frontend-typescript-vite/tests/performance-timing.spec.ts
Due: biome-check, typescript-check

feat: Add detailed performance timing to subnet calculator frontend (#21)
  subnet-calculator/frontend-typescript-vite/public/logged-out.html
  subnet-calculator/frontend-typescript-vite/src/api.ts
  subnet-calculator/frontend-typescript-vite/src/main.ts
  subnet-calculator/frontend-typescript-vite/src/style.css
  subnet-calculator/frontend-typescript-vite/src/ui.ts
  subnet-calculator/frontend-typescript-vite/tests/auth-logout.spec.ts
  subnet-calculator/frontend-typescript-vite/tests/performance-timing.spec.ts
Due: biome-check, typescript-check

fix: Azure CLI 2.79.0 compatibility and Stack 15 authentication fixes
  .claude/settings.local.json
  .github/workflows/swa-byo-functions.yml.disabled
  .github/workflows/swa-managed-functions.yml.disabled
  subnet-calculator/infrastructure/azure/10-function-app.sh
  subnet-calculator/infrastructure/azure/13-create-function-app-on-app-service-plan.sh
  subnet-calculator/infrastructure/azure/14-configure-function-vnet-integration.sh
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/21-deploy-function.sh
  subnet-calculator/infrastructure/azure/22-deploy-function-zip.sh
  subnet-calculator/infrastructure/azure/23-deploy-function-apim.sh
  subnet-calculator/infrastructure/azure/25-deploy-static-website-storage.sh
  subnet-calculator/infrastructure/azure/31-apim-backend.sh
  subnet-calculator/infrastructure/azure/40-link-backend-to-swa.sh
  subnet-calculator/infrastructure/azure/45-configure-ip-restrictions.sh
  subnet-calculator/infrastructure/azure/46-create-private-endpoint.sh
  subnet-calculator/infrastructure/azure/58-deploy-flask-app-service.sh
  subnet-calculator/infrastructure/azure/99-cleanup.sh
  subnet-calculator/infrastructure/azure/azure-stack-01-public-simple.sh
  subnet-calculator/infrastructure/azure/azure-stack-02-flask-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/azure-stack-04-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-05-swa-typescript-entraid-frontend.sh
  subnet-calculator/infrastructure/azure/azure-stack-05-swa-typescript-entraid-old.sh
  subnet-calculator/infrastructure/azure/azure-stack-06-swa-typescript-entraid-linked.sh
  subnet-calculator/infrastructure/azure/azure-stack-07-swa-typescript-entraid-double.sh
  subnet-calculator/infrastructure/azure/azure-stack-08-flask-appservice.sh
  subnet-calculator/infrastructure/azure/azure-stack-08-swa-typescript-network-secured.sh
  subnet-calculator/infrastructure/azure/azure-stack-09-swa-typescript-private.sh
  subnet-calculator/infrastructure/azure/azure-stack-10-swa-typescript-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-13-flask-entraid.sh
  subnet-calculator/infrastructure/azure/azure-stack-14-swa-noauth-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-15-swa-entraid-linked.sh
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
  subnet-calculator/infrastructure/azure/azure-stack-17-swa-apim.sh
  subnet-calculator/infrastructure/azure/azure-stack-18-swa-apim-private.sh
  subnet-calculator/infrastructure/azure/azure-stack-19-swa-private-apim-internal.sh
  subnet-calculator/infrastructure/azure/policies/inbound-appgw-jwt.xml
Due: none

security: Tighten APIM policy CORS and remove unused variable
  subnet-calculator/infrastructure/azure/policies/inbound-appgw-jwt.xml
Due: none

test: Update tests to match authentication and Azure CLI fixes
  subnet-calculator/infrastructure/azure/tests/test_config_copying.bats
  subnet-calculator/infrastructure/azure/tests/test_deployment.bats
  subnet-calculator/infrastructure/azure/tests/test_stack_15_entraid.bats
  subnet-calculator/infrastructure/azure/tests/test_stack_16_private_endpoint.bats
Due: none

Path conditions:
  biome-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx)$
  check-emojis: any of: \.(md|markdown)$
