Repository nickromney/public-cloud-experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, check-emojis

biome-check:
  name: Biome lint and format
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run type-check'
  language: system
  pass_filenames: false

check-emojis:
  name: Check for emojis in markdown
  entry: .git-hooks/check-emojis.sh
  language: script

feat(local): implement 6-stage kind cluster deployment with Kyverno policies (#58)
  terraform/terragrunt/local/kind-argocd/main.tf
Due: none

feat(local): implement ArgoCD App of Apps pattern for kind cluster
  terraform/terragrunt/local/kind-argocd/apps/cilium-policies.yaml
  terraform/terragrunt/local/kind-argocd/apps/kyverno-policies.yaml
  terraform/terragrunt/local/kind-argocd/apps/kyverno.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/stages/200-cilium.tfvars
  terraform/terragrunt/local/kind-argocd/stages/300-hubble.tfvars
  terraform/terragrunt/local/kind-argocd/stages/400-argocd.tfvars
  terraform/terragrunt/local/kind-argocd/stages/500-gitea.tfvars
  terraform/terragrunt/local/kind-argocd/stages/600-policies.tfvars
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
Due: none

feat(local): implement ArgoCD App of Apps pattern for kind cluster (#59)
  terraform/terragrunt/local/kind-argocd/apps/cilium-policies.yaml
  terraform/terragrunt/local/kind-argocd/apps/kyverno-policies.yaml
  terraform/terragrunt/local/kind-argocd/apps/kyverno.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/stages/200-cilium.tfvars
  terraform/terragrunt/local/kind-argocd/stages/300-hubble.tfvars
  terraform/terragrunt/local/kind-argocd/stages/400-argocd.tfvars
  terraform/terragrunt/local/kind-argocd/stages/500-gitea.tfvars
  terraform/terragrunt/local/kind-argocd/stages/600-policies.tfvars
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
Due: none

chore: add package lock files and offline testing guide
  .gitignore
  subnet-calculator/frontend-react/package-lock.json
  subnet-calculator/frontend-typescript-vite/package-lock.json
  subnet-calculator/shared-frontend/package-lock.json
  terraform/terragrunt/local/kind-argocd/OFFLINE-TESTING.md
Due: biome-check, check-emojis

feat(local): add Azure auth simulation workload for kind cluster
  AGENTS.md
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/README.md
  terraform/terragrunt/local/kind-argocd/OFFLINE-TESTING.md
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/kustomization.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/namespace.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/secrets.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/stages/200-cilium.tfvars
  terraform/terragrunt/local/kind-argocd/stages/300-hubble.tfvars
  terraform/terragrunt/local/kind-argocd/stages/400-argocd.tfvars
  terraform/terragrunt/local/kind-argocd/stages/500-gitea.tfvars
  terraform/terragrunt/local/kind-argocd/stages/600-policies.tfvars
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
Due: check-emojis

fix: address Copilot review feedback
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-deployment.yaml
Due: none

feat(local): add Azure auth simulation workload and package lock files (#60)
  .gitignore
  AGENTS.md
  subnet-calculator/frontend-react/package-lock.json
  subnet-calculator/frontend-typescript-vite/package-lock.json
  subnet-calculator/shared-frontend/package-lock.json
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/README.md
  terraform/terragrunt/local/kind-argocd/OFFLINE-TESTING.md
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/kustomization.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/namespace.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-service.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/secrets.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/stages/200-cilium.tfvars
  terraform/terragrunt/local/kind-argocd/stages/300-hubble.tfvars
  terraform/terragrunt/local/kind-argocd/stages/400-argocd.tfvars
  terraform/terragrunt/local/kind-argocd/stages/500-gitea.tfvars
  terraform/terragrunt/local/kind-argocd/stages/600-policies.tfvars
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
Due: biome-check, check-emojis

fix(local): align azure-auth-sim config with compose.yml Stack 12
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/secrets.yaml
Due: none

chore: working fixes from codex
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-deployment.yaml
Due: none

Chore/20251128 fix kind cluster azure auth sim (#61)
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/secrets.yaml
Due: none

chore: switch workflow to ssh checkout
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
Due: none

chore: manual ssh clone for checkout
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
Due: none

chore: trust registry CA and decode known hosts
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
Due: none

docs: record gitea actions dind experiments
  terraform/terragrunt/local/kind-argocd/EXPERIMENTS-DIND.md
  terraform/terragrunt/local/kind-argocd/EXPERIMENTS.md
Due: check-emojis

chore: DinD experiments for Gitea Actions CI/CD on macOS
  AGENTS.md
  subnet-calculator/frontend-react/Dockerfile
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/README.md
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-deployment.yaml
  terraform/terragrunt/local/kind-argocd/external-gitea-compose.yaml
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/scripts/fix-gitea-key.sh
  terraform/terragrunt/local/kind-argocd/scripts/gitea-up.sh
  terraform/terragrunt/local/kind-argocd/scripts/push_workflow_fix.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage100-gitea.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
  terraform/terragrunt/local/kind-argocd/stages/500-gitea.tfvars
  terraform/terragrunt/local/kind-argocd/stages/600-policies.tfvars
  terraform/terragrunt/local/kind-argocd/templates/kind-config.yaml.tpl
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
Due: check-emojis

fix: Address Copilot review suggestions
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/README.md
  terraform/terragrunt/local/kind-argocd/external-gitea-compose.yaml
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/scripts/stage100-gitea.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
Due: check-emojis

chore: Gitea Actions CI/CD experiments with DinD (#62)
  AGENTS.md
  subnet-calculator/frontend-react/Dockerfile
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/README.md
  terraform/terragrunt/local/kind-argocd/EXPERIMENTS-DIND.md
  terraform/terragrunt/local/kind-argocd/EXPERIMENTS.md
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/oauth2-proxy-deployment.yaml
  terraform/terragrunt/local/kind-argocd/external-gitea-compose.yaml
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/scripts/fix-gitea-key.sh
  terraform/terragrunt/local/kind-argocd/scripts/gitea-up.sh
  terraform/terragrunt/local/kind-argocd/scripts/push_workflow_fix.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage100-gitea.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
  terraform/terragrunt/local/kind-argocd/stages/500-gitea.tfvars
  terraform/terragrunt/local/kind-argocd/stages/600-policies.tfvars
  terraform/terragrunt/local/kind-argocd/templates/kind-config.yaml.tpl
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
Due: check-emojis

ci: trigger build
  .gitea/workflows/.ci-trigger
  .gitea/workflows/azure-auth-sim.yaml
Due: none

ci: trigger build
  .gitea/workflows/.ci-trigger
Due: none

fix: use /bin/sh for actions runner
  .claude/settings.local.json
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/scripts/push_workflow_fix.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
  terraform/terragrunt/local/kind-argocd/stages/200-cilium.tfvars
  terraform/terragrunt/local/kind-argocd/stages/300-hubble.tfvars
  terraform/terragrunt/local/kind-argocd/stages/400-argocd.tfvars
Due: none

fix: run workflow steps in ubuntu container with bash
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
Due: none

fix: map local label to docker runner
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
Due: none

fix: run act runner in docker with ubuntu image
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
Due: none

fix: Use REGISTRY_HOST for git clone in workflow
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
Due: none

fix: External Gitea IaC for Kind cluster with registry TLS
  .gitignore
  terraform/terragrunt/local/kind-argocd/.gitignore
  terraform/terragrunt/local/kind-argocd/AZURE_AUTH_SIM.md
  terraform/terragrunt/local/kind-argocd/EXPERIMENTS.md
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-deployment.yaml
  terraform/terragrunt/local/kind-argocd/external-gitea-compose.yaml
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/scripts/stage100-gitea.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
  terraform/terragrunt/local/kind-argocd/templates/kind-config.yaml.tpl
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
Due: check-emojis

fix: add bash shim and docker executor for act runner
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
Due: none

fix: Make Keycloak frontend-app a public client for oidc-client-ts
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
Due: none

chore: Switch from Podman to Docker Desktop
  subnet-calculator/frontend-python-flask/README.md
  terraform/terragrunt/Makefile
  terraform/terragrunt/root-local.hcl
Due: check-emojis

feat(local): Docker Desktop Gitea runner with Kind cluster registry trust
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/kind-argocd/.gitignore
  terraform/terragrunt/local/kind-argocd/AZURE_AUTH_SIM.md
  terraform/terragrunt/local/kind-argocd/EXPERIMENTS.md
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
  terraform/terragrunt/local/kind-argocd/external-gitea-compose.yaml
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/scripts/push_workflow_fix.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage100-gitea.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
  terraform/terragrunt/local/kind-argocd/stages/200-cilium.tfvars
  terraform/terragrunt/local/kind-argocd/stages/300-hubble.tfvars
  terraform/terragrunt/local/kind-argocd/stages/400-argocd.tfvars
  terraform/terragrunt/local/kind-argocd/templates/kind-config.yaml.tpl
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
  terraform/terragrunt/root-local.hcl
Due: check-emojis

fix: Address Copilot review comments for PR #64
  terraform/terragrunt/local/kind-argocd/.gitignore
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/scripts/stage100-gitea.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
  terraform/terragrunt/local/kind-argocd/templates/kind-config.yaml.tpl
Due: none

feat(local): Docker Desktop Gitea runner with Kind cluster registry trust (#64)
  terraform/terragrunt/Makefile
  terraform/terragrunt/local/kind-argocd/.gitignore
  terraform/terragrunt/local/kind-argocd/AZURE_AUTH_SIM.md
  terraform/terragrunt/local/kind-argocd/EXPERIMENTS.md
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/api-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/apim-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/frontend-deployment.yaml
  terraform/terragrunt/local/kind-argocd/apps/azure-auth-sim/keycloak-realm-config.yaml
  terraform/terragrunt/local/kind-argocd/external-gitea-compose.yaml
  terraform/terragrunt/local/kind-argocd/gitea-repos/azure-auth-sim/.gitea/workflows/azure-auth-sim.yaml
  terraform/terragrunt/local/kind-argocd/kind-config.yaml
  terraform/terragrunt/local/kind-argocd/main.tf
  terraform/terragrunt/local/kind-argocd/scripts/push_workflow_fix.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage100-gitea.sh
  terraform/terragrunt/local/kind-argocd/scripts/stage200-build.sh
  terraform/terragrunt/local/kind-argocd/stages/200-cilium.tfvars
  terraform/terragrunt/local/kind-argocd/stages/300-hubble.tfvars
  terraform/terragrunt/local/kind-argocd/stages/400-argocd.tfvars
  terraform/terragrunt/local/kind-argocd/templates/kind-config.yaml.tpl
  terraform/terragrunt/local/kind-argocd/terragrunt.hcl
  terraform/terragrunt/local/kind-argocd/variables.tf
  terraform/terragrunt/root-local.hcl
Due: check-emojis

Path conditions:
  biome-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx)$
  check-emojis: any of: \.(md|markdown)$
