Repository nickromney/public-cloud-experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, check-emojis

biome-check:
  name: Biome lint and format
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd subnet-calculator/frontend-typescript-vite && npm run type-check'
  language: system
  pass_filenames: false

check-emojis:
  name: Check for emojis in markdown
  entry: .git-hooks/check-emojis.sh
  language: script

fix: Explicit VITE_AUTH_METHOD configuration and custom domain support
  subnet-calculator/frontend-typescript-vite/src/config.ts
  subnet-calculator/frontend-typescript-vite/src/entraid-auth.ts
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
  subnet-calculator/infrastructure/azure/99-check-dns.sh
  subnet-calculator/infrastructure/azure/azure-stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/azure-stack-14-swa-noauth-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-15-swa-entraid-linked.sh
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
  subnet-calculator/infrastructure/azure/azure-stack-19-swa-private-apim-internal.sh
Due: biome-check, typescript-check

feat: Add Entra ID app registration picker for Stack 15
  subnet-calculator/infrastructure/azure/azure-stack-15-swa-entraid-linked.sh
  subnet-calculator/infrastructure/azure/lib/selection-utils.sh
Due: none

feat: Auto-retrieve AZURE_CLIENT_SECRET from Key Vault
  subnet-calculator/infrastructure/azure/azure-stack-15-swa-entraid-linked.sh
Due: none

fix: Entra ID app registration picker for display names with spaces
  subnet-calculator/infrastructure/azure/lib/selection-utils.sh
Due: none

feat: Add Entra ID permission debugging script
  subnet-calculator/infrastructure/azure/98-debug-entraid-permissions.sh
Due: none

fix: Remove loginParameters from Entra ID config to match Azure docs
  subnet-calculator/infrastructure/azure/staticwebapp-entraid.config.json
Due: none

fix: Redirect app registration prompt to /dev/tty for consistency
  subnet-calculator/infrastructure/azure/lib/selection-utils.sh
Due: none

test: Update tests to match simplified Entra ID config
  subnet-calculator/infrastructure/azure/tests/test_config_copying.bats
  subnet-calculator/infrastructure/azure/tests/test_stack_15_entraid.bats
Due: none

feat: Authentication fixes, Entra ID tools, and deployment improvements (#23)
  subnet-calculator/frontend-typescript-vite/src/config.ts
  subnet-calculator/frontend-typescript-vite/src/entraid-auth.ts
  subnet-calculator/infrastructure/azure/20-deploy-frontend.sh
  subnet-calculator/infrastructure/azure/42-configure-entraid-swa.sh
  subnet-calculator/infrastructure/azure/98-debug-entraid-permissions.sh
  subnet-calculator/infrastructure/azure/99-check-dns.sh
  subnet-calculator/infrastructure/azure/azure-stack-03-swa-typescript-noauth.sh
  subnet-calculator/infrastructure/azure/azure-stack-14-swa-noauth-jwt.sh
  subnet-calculator/infrastructure/azure/azure-stack-15-swa-entraid-linked.sh
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
  subnet-calculator/infrastructure/azure/azure-stack-19-swa-private-apim-internal.sh
  subnet-calculator/infrastructure/azure/lib/selection-utils.sh
  subnet-calculator/infrastructure/azure/staticwebapp-entraid.config.json
  subnet-calculator/infrastructure/azure/tests/test_config_copying.bats
  subnet-calculator/infrastructure/azure/tests/test_stack_15_entraid.bats
Due: biome-check, typescript-check

feat: Improve Stack 16 app registration workflow with 3-option picker
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
  subnet-calculator/infrastructure/azure/tests/test_stack_16_private_endpoint.bats
Due: none

docs: Add Stack 16/19 troubleshooting and session summary
  subnet-calculator/docs/2025-10-30-application-gateway-https-keyvault-design.md
  subnet-calculator/docs/2025-10-30-application-gateway-swa-private-endpoint-design.md
  subnet-calculator/docs/2025-10-30-application-gateway-swa-private-endpoint.md
  subnet-calculator/docs/2025-10-30-keyvault-app-registration-secrets-design.md
  subnet-calculator/docs/AUTHENTICATION-OPTIONS.md
  subnet-calculator/docs/AZURE_DEPLOYMENT.md
  subnet-calculator/docs/COMPLETION_REPORT.md
  subnet-calculator/docs/ENTRA-ID-LOCAL-TESTING.md
  subnet-calculator/docs/ENTRAID-IMPLEMENTATION-PLAN.md
  subnet-calculator/docs/ENTRAID-SETUP-GUIDE.md
  subnet-calculator/docs/ENTRAID-TESTING-PLAN.md
  subnet-calculator/docs/NEXT-STEPS-CONTAINER-APP.md
  subnet-calculator/docs/README-SWA-CONFIG.md
  subnet-calculator/docs/SECURITY-INSPECTION.md
  subnet-calculator/docs/STACK-1-JWT-AUTH.md
  subnet-calculator/docs/STACK-17-18-COMPARISON.md
  subnet-calculator/docs/STACK-2-ENTRAID-LINKED.md
  subnet-calculator/docs/STACK-3-PRIVATE-ENDPOINT.md
  subnet-calculator/docs/STACK_INTENTIONS.md
  subnet-calculator/docs/SWA-AUTHENTICATION-ARCHITECTURES.md
  subnet-calculator/docs/SWA-CLI.md
  subnet-calculator/docs/SWA-ENTRA-AUTH.md
  subnet-calculator/docs/SWA-FUNCTIONS-GUIDE.md
  subnet-calculator/docs/TESTING-GUIDE.md
  subnet-calculator/docs/TESTING.md
  subnet-calculator/docs/TEST_SPECIFICATION.md
  subnet-calculator/docs/TODO.md
  subnet-calculator/docs/application-gateway-https-troubleshooting.md
  subnet-calculator/docs/application-gateway-troubleshooting.md
  subnet-calculator/docs/script-50-usage.md
  subnet-calculator/docs/stack16-stack19-session-summary.md
  subnet-calculator/docs/stack16-stack19-troubleshooting-20251105-1435.md
Due: check-emojis

fix: Address Copilot feedback on Stack 16 script UX and exit codes
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
Due: none

docs: Stack 16/19 troubleshooting session documentation (#24)
  subnet-calculator/docs/2025-10-30-application-gateway-https-keyvault-design.md
  subnet-calculator/docs/2025-10-30-application-gateway-swa-private-endpoint-design.md
  subnet-calculator/docs/2025-10-30-application-gateway-swa-private-endpoint.md
  subnet-calculator/docs/2025-10-30-keyvault-app-registration-secrets-design.md
  subnet-calculator/docs/AUTHENTICATION-OPTIONS.md
  subnet-calculator/docs/AZURE_DEPLOYMENT.md
  subnet-calculator/docs/COMPLETION_REPORT.md
  subnet-calculator/docs/ENTRA-ID-LOCAL-TESTING.md
  subnet-calculator/docs/ENTRAID-IMPLEMENTATION-PLAN.md
  subnet-calculator/docs/ENTRAID-SETUP-GUIDE.md
  subnet-calculator/docs/ENTRAID-TESTING-PLAN.md
  subnet-calculator/docs/NEXT-STEPS-CONTAINER-APP.md
  subnet-calculator/docs/README-SWA-CONFIG.md
  subnet-calculator/docs/SECURITY-INSPECTION.md
  subnet-calculator/docs/STACK-1-JWT-AUTH.md
  subnet-calculator/docs/STACK-17-18-COMPARISON.md
  subnet-calculator/docs/STACK-2-ENTRAID-LINKED.md
  subnet-calculator/docs/STACK-3-PRIVATE-ENDPOINT.md
  subnet-calculator/docs/STACK_INTENTIONS.md
  subnet-calculator/docs/SWA-AUTHENTICATION-ARCHITECTURES.md
  subnet-calculator/docs/SWA-CLI.md
  subnet-calculator/docs/SWA-ENTRA-AUTH.md
  subnet-calculator/docs/SWA-FUNCTIONS-GUIDE.md
  subnet-calculator/docs/TESTING-GUIDE.md
  subnet-calculator/docs/TESTING.md
  subnet-calculator/docs/TEST_SPECIFICATION.md
  subnet-calculator/docs/TODO.md
  subnet-calculator/docs/application-gateway-https-troubleshooting.md
  subnet-calculator/docs/application-gateway-troubleshooting.md
  subnet-calculator/docs/script-50-usage.md
  subnet-calculator/docs/stack16-stack19-session-summary.md
  subnet-calculator/docs/stack16-stack19-troubleshooting-20251105-1435.md
  subnet-calculator/infrastructure/azure/azure-stack-16-swa-private-endpoint.sh
  subnet-calculator/infrastructure/azure/tests/test_stack_16_private_endpoint.bats
Due: check-emojis

feat: Add secure-app Terraform module and Stack 20 deployment automation
  subnet-calculator/infrastructure/azure/59-deploy-typescript-app-service.sh
  subnet-calculator/infrastructure/azure/azure-stack-20-webapp-apim-functionapp.sh
  terraform/modules/secure-app/main.tf
  terraform/modules/secure-app/outputs.tf
  terraform/modules/secure-app/templates/api-policy.xml.tftpl
  terraform/modules/secure-app/variables.tf
  terraform/terragrunt/Makefile
  terraform/terragrunt/root.hcl
  terraform/terragrunt/setup-env.sh
Due: none

chore: Add Terraform provider lock file for secure-app module
  terraform/modules/secure-app/.terraform.lock.hcl
Due: none

feat: Add secure-app workload example for Terragrunt
  terraform/terragrunt/workloads/secure-app/envs/dev/uksouth/terragrunt.hcl
  terraform/terragrunt/workloads/secure-app/terragrunt.hcl
Due: none

fix: Move terraform block to versions.tf in secure-app module
  terraform/modules/secure-app/main.tf
  terraform/modules/secure-app/versions.tf
Due: none

fix: Make resource group data source conditional
  terraform/modules/secure-app/main.tf
Due: none

fix: Address Copilot PR review feedback
  subnet-calculator/infrastructure/azure/azure-stack-20-webapp-apim-functionapp.sh
  terraform/modules/secure-app/main.tf
  terraform/modules/secure-app/outputs.tf
  terraform/modules/secure-app/versions.tf
  terraform/terragrunt/setup-env.sh
Due: none

feat: Secure-app Terraform module and improved Terragrunt setup (#25)
  subnet-calculator/infrastructure/azure/59-deploy-typescript-app-service.sh
  subnet-calculator/infrastructure/azure/azure-stack-20-webapp-apim-functionapp.sh
  terraform/modules/secure-app/.terraform.lock.hcl
  terraform/modules/secure-app/main.tf
  terraform/modules/secure-app/outputs.tf
  terraform/modules/secure-app/templates/api-policy.xml.tftpl
  terraform/modules/secure-app/variables.tf
  terraform/modules/secure-app/versions.tf
  terraform/terragrunt/Makefile
  terraform/terragrunt/root.hcl
  terraform/terragrunt/setup-env.sh
  terraform/terragrunt/workloads/secure-app/envs/dev/uksouth/terragrunt.hcl
  terraform/terragrunt/workloads/secure-app/terragrunt.hcl
Due: none

refactor: Convert secure-app module to inline Terragrunt deployment
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/templates/api-policy.xml.tftpl
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/terraform.tfvars
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/variables.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/versions.tf
  terraform/terragrunt/workloads/secure-app/envs/dev/uksouth/terragrunt.hcl
  terraform/terragrunt/workloads/secure-app/terragrunt.hcl
Due: check-emojis

feat: Add Makefile targets for subnet-calc-internal-apim
  terraform/terragrunt/Makefile
Due: none

fix: Address Copilot PR feedback on subnet-calc-internal-apim
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/versions.tf
Due: none

refactor: Convert to inline Terragrunt pattern for subnet calculator (#26)
  terraform/terragrunt/Makefile
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/README.md
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/main.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/outputs.tf
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/templates/api-policy.xml.tftpl
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/terraform.tfvars
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/terraform.tfvars.example
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/terragrunt.hcl
  terraform/terragrunt/personal-sub/subnet-calc-internal-apim/variables.tf
  terraform/terragrunt/workloads/secure-app/envs/dev/uksouth/terragrunt.hcl
  terraform/terragrunt/workloads/secure-app/terragrunt.hcl
Due: check-emojis

feat: Add IPv6 support and progressive enhancement to Flask frontend
  subnet-calculator/frontend-python-flask/README.md
  subnet-calculator/frontend-python-flask/app.py
  subnet-calculator/frontend-python-flask/templates/index.html
  subnet-calculator/frontend-python-flask/test_frontend.py
Due: check-emojis

feat: Add hybrid Easy Auth support to Flask frontend
  subnet-calculator/frontend-python-flask/EASY-AUTH-RESEARCH.md
  subnet-calculator/frontend-python-flask/EASY-AUTH-SETUP.md
  subnet-calculator/frontend-python-flask/README.md
  subnet-calculator/frontend-python-flask/app.py
Due: check-emojis

refactor: Move EASY-AUTH-RESEARCH.md to docs folder
  subnet-calculator/docs/EASY-AUTH-RESEARCH.md
Due: check-emojis

refactor: Address code review feedback
  subnet-calculator/frontend-python-flask/app.py
  subnet-calculator/frontend-python-flask/test_frontend.py
Due: none

Flask frontend: IPv6, progressive enhancement, and hybrid Easy Auth (#27)
  subnet-calculator/docs/EASY-AUTH-RESEARCH.md
  subnet-calculator/frontend-python-flask/EASY-AUTH-SETUP.md
  subnet-calculator/frontend-python-flask/README.md
  subnet-calculator/frontend-python-flask/app.py
  subnet-calculator/frontend-python-flask/templates/index.html
  subnet-calculator/frontend-python-flask/test_frontend.py
Due: check-emojis

feat: Initial React frontend with flexible auth architecture
  subnet-calculator/frontend-react/.gitignore
  subnet-calculator/frontend-react/README.md
  subnet-calculator/frontend-react/eslint.config.js
  subnet-calculator/frontend-react/index.html
  subnet-calculator/frontend-react/package.json
  subnet-calculator/frontend-react/public/vite.svg
  subnet-calculator/frontend-react/src/App.css
  subnet-calculator/frontend-react/src/App.tsx
  subnet-calculator/frontend-react/src/api/client.ts
  subnet-calculator/frontend-react/src/assets/react.svg
  subnet-calculator/frontend-react/src/auth/AuthContext.tsx
  subnet-calculator/frontend-react/src/auth/easyAuthProvider.ts
  subnet-calculator/frontend-react/src/auth/msalConfig.ts
  subnet-calculator/frontend-react/src/config.ts
  subnet-calculator/frontend-react/src/index.css
  subnet-calculator/frontend-react/src/main.tsx
  subnet-calculator/frontend-react/src/types.ts
  subnet-calculator/frontend-react/tsconfig.app.json
  subnet-calculator/frontend-react/tsconfig.json
  subnet-calculator/frontend-react/tsconfig.node.json
  subnet-calculator/frontend-react/vite.config.ts
Due: check-emojis

feat: Add comprehensive test suite and linting config
  subnet-calculator/frontend-react/biome.json
  subnet-calculator/frontend-react/package.json
  subnet-calculator/frontend-react/playwright.config.ts
  subnet-calculator/frontend-react/tests/api.spec.ts
  subnet-calculator/frontend-react/tests/frontend.spec.ts
Due: none

feat: Add complete React UI with hybrid auth integration
  subnet-calculator/frontend-react/biome.json
  subnet-calculator/frontend-react/index.html
  subnet-calculator/frontend-react/src/App.css
  subnet-calculator/frontend-react/src/App.tsx
  subnet-calculator/frontend-react/src/auth/AuthContext.tsx
  subnet-calculator/frontend-react/src/auth/msalConfig.ts
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
  subnet-calculator/frontend-react/src/config.ts
  subnet-calculator/frontend-react/src/main.tsx
Due: none

feat: Add Docker and nginx configuration for production deployment
  subnet-calculator/frontend-react/.dockerignore
  subnet-calculator/frontend-react/Dockerfile
  subnet-calculator/frontend-react/Makefile
  subnet-calculator/frontend-react/README.md
  subnet-calculator/frontend-react/nginx.conf
Due: check-emojis

docs: Add zip deployment option for Azure Web App
  subnet-calculator/frontend-react/README.md
Due: check-emojis

feat: Add React frontend to compose.yml
  subnet-calculator/compose.yml
Due: none

fix: Remove unused inProgress variable from MSAL hooks
  subnet-calculator/frontend-react/src/auth/AuthContext.tsx
Due: none

fix: Use Pico CSS properly with minimal inline styles
  subnet-calculator/frontend-react/src/App.css
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
  subnet-calculator/frontend-react/src/index.css
Due: none

fix: Match TypeScript frontend form structure and button text
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
Due: none

fix: Remove unused handleClear function
  subnet-calculator/frontend-react/src/components/SubnetCalculator.tsx
Due: none

fix: Force top-bar positioning to top-right with !important
  subnet-calculator/frontend-react/src/App.css
Due: none

Path conditions:
  biome-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^subnet-calculator/frontend-typescript-vite/.*\.(ts|tsx)$
  check-emojis: any of: \.(md|markdown)$
